<div id="settingForHover" class="borderRight textAlignLeft borderBottom ">
    <div class="settingNormal1">
        <input type="image" name="btnLogOut11" id="btnLogOut11" title="安全退出" src="/assets/img/logout.png" style="border-width:0px;"
        />
        <div class="bottomBarForSetting">
            <span class="userNameStr" style='font-size:16px;'>18616126092</span>
            <span class="otherInfo userico">校长</span>
            <span class="otherInfo signtimeico">个人考勤</span>
        </div>
        <div class="borderBottom">
            <table cellpadding="0" cellspacing="0" class="settingHeader">
                <tr>
                    <td id="btnHelp">
                        <i class="icon iconfont icon-shiyongbangzhu" data-sourceclass="icon-shiyongbangzhu" data-hoverclass="icon-shiyongbangzhu-hover"
                            style="font-size: 40px;"></i>
                        <div class="name">使用帮助</div>
                    </td>
                    <td id="btnUserCenter" class="borderRight borderLeft">
                        <i class="icon iconfont icon-gerenziliao" data-sourceclass="icon-gerenziliao" data-hoverclass="icon-gerenziliao-hover"
                            style="font-size: 40px;"></i>
                        <div class="name">个人中心</div>
                    </td>
                    <td id="btnHome" class="borderRight">
                        <i class="icon iconfont icon-wodezhuomian" data-sourceclass="icon-wodezhuomian" data-hoverclass="icon-wodezhuomian-hover"
                            style="font-size: 40px;"></i>
                        <div class="name">我的桌面</div>
                    </td>
                    <td id="btnLockScreen">
                        <i class="icon iconfont icon-xitongsuoping" data-sourceclass="icon-xitongsuoping" hdata-overclass="icon-xitongsuoping-hover"
                            style="font-size: 40px;"></i>
                        <div class="name">系统锁屏</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="info">
            <div class="borderBottom" style="margin-bottom: 10px; margin-top: 0px;">
                <img src="/assets/img/logo.gif" id="img_logo" style="margin-bottom: 10px;" />
            </div>
            <div>ETM早教管家</div>
            <div>当前版本：v11.0.0.0</div>
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" class='langbtn'></td>
                    <td align="center">
                        <div id="langContainer" style='display:none;'>
                            <input type='button' id="langSelect" value='简体中文' class='button' />
                            <img src="/assets/img/ArrowDown2.png" />
                        </div>
                    </td>
                    <td align="right" class='langbtn'></td>
                </tr>
            </table>
            <div class="cc">Copyright © 2018</div>
            <div class="clear"></div>
        </div>
    </div>
</div>