<div class="cl">
	<?php foreach ($leftMenu as $item) { ?>
	<h3 class="f14">
	<span title="展开与收缩" class="on cu"></span>
	<?php echo $item['name']; ?>
	</h3>
	<ul style="display:block;">
		<?php foreach ($item['sub'] as $subItem) { ?>
		<!-- {{if $subitem.purview_tag==$modeStr}} on fb{{/if}} -->
		<li class="sub_menu " id="sub_menu<?php echo $subItem['id'];?>">
		<a href="javascript:loadMainContent(<?php echo $subItem['id'];?>, '', '<?php echo "/{$subItem['module']}/{$subItem['controller']}/index"?>')"><?php echo $subItem['name']; ?></a>
		</li>
		<?php } ?>
	</ul>
	<?php } ?>
</div>