<?php include $VIEW_PATH . "/include/header.html"; ?>

<div class="content">
    <div class="left_menu lft" id="leftMenu">
        <?php include $VIEW_PATH . "/include/left.html"; ?>
    </div>
    <div class="right_conter">
        <div class="crumbs">当前位置：{{$navi}}</div>
        <div class="col-1 cl" id="main_box">
            <iframe src="<?php echo $APP_WEB_HOST;?>/opacity/main/homepage/" id="mainContent" scrolling="no" frameborder="0" style="width:100%;" ></iframe>
        </div>
    </div>

</div>
<?php include $VIEW_PATH . "/include/footer.html"; ?>
