<?php include $VIEW_PATH . "/include/header.html"; ?>

<div class="content">
    <div class="left_menu lft" id="leftMenu">
        <?php include $VIEW_PATH . "/include/left.html"; ?>
    </div>
    <div class="right_conter">
        <div class="crumbs">当前位置：{{$navi}}</div>
        <div class="col-1 cl" id="main_box">

            <iframe src="http://www.baidu.com" id="mainContent" scrolling="no" frameborder="0" style="width:100%; " ></iframe>

            <!-- 
            <div class="content cl" style="text-align:center;"><br /><br /><br /><br /><br /><br />
                <span style="font-weight:bold;font-size:22px;">欢迎您使用 叶游GM管理平台</span><br /><br />
                <span style="font-size:14px;">感谢您奔腾不息的工作！感谢！感谢！还是感谢！</span>
            </div>
            -->
        </div>
    </div>

</div>
<?php include $VIEW_PATH . "/include/footer.html"; ?>
