.flexigridColumnHeader tr:hover {
    background-color:#fffcd3;
}
.flexigridColumnHeader tr td {
    cursor:pointer; 
    height:25px;
    line-height:25px;
    white-space:nowrap;
    overflow:hidden; 
    padding-left:10px;
    border-bottom:1px solid #DAD8D4;
}



.flexigrid table {
    border-collapse:collapse;
}



.flexigrid table thead {
    background-color: #F4F4F4;
}
.flexigrid table thead th {
    
    background-color: #F4F4F4;
    position: relative;
    border: 1px solid #DAD8D4;   
    font-weight: bold;
}

.flexigrid table thead th div {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 6px;
}

.flexigrid table thead th.thOver {
}

.flexigrid table thead th div.sasc{	 background:url(../../images/up.png) no-repeat left center;}
.flexigrid table thead th div.sdesc{	 background:url(../../images/dn.png) no-repeat left center;}

.dropdownStatus{    background:url(../../Images/arrowdown1.png) no-repeat scroll center right transparent;}

/*
.flexigrid table tbody tr{
    background-color: expression((this.rowIndex % 2 == 0) ?   "#F4F4F4" : "#FFF" ); 
}
*/

