<script type='text/javascript'>

function ReSizeScrollbar() { 
    if ($('form').getNiceScroll().length > 0) { 
        $('form').getNiceScroll().onResize(); 
    } 
} 
function ReSizeFlexgridScrollbar() { 
    if ($('.bDiv').getNiceScroll().length > 0) { 
        $('.bDiv').getNiceScroll().onResize(); 
    } 
} 
function InitFlexgridScrollbar() { 
    $('.bDiv').niceScroll({ 
        cursorcolor: '#F18D00', zindex: 4 
    }); 
} 
function ReSizenDivScrollbar() { 
    if ($('.flexigrid .nDiv').getNiceScroll().length > 0) { 
        $('.flexigrid .nDiv').getNiceScroll().onResize(); 
    } 
} 
function InitnDivScrollbar() { 
    $('.flexigrid .nDiv').niceScroll({ 
        cursorcolor: '#F18D00', 
        horizrailenabled: false 
    }); 
} 
$(function () { 
    $('body').click(function () { 
        if (typeof parent.onChildPageClick != 'undefined') { 
            parent.onChildPageClick(); 
        } 
    }); 
    $('form').height($(window).height() - 0).niceScroll({ 
        cursorcolor: '#F18D00', 
        horizrailenabled: false 
    }); 
    $(window).resize(function () { 
        ReSizeScrollbar(); 
    }); 
});

</script>