@charset "utf-8";
/* ---------------------------------------------
login CSS file for woiyuadmin 
Created by:weq 2011-3-3
1. 登录框
filter:alpha(opacity=50);       /* IE */
/*-moz-opacity:0.5;              /* Moz + FF */
/*opacity: 0.5;           /* 支持CSS3的浏览器（FF 1.5也支持）filter:alpha(opacity=40);opacity:0.5;*/
/*---------------------------------------------*/

.lgin{ background:url(../image/login_bg.jpg);margin:50px auto 10px auto; width:968px; height:387px; border:solid 1px #ccc ;}
/*
.lgin{ margin:50px auto 10px auto; width:968px; height:387px; border:solid 1px #ccc ;}
*/
.login_box{ width:968px; height:387px;}
.lg_kuang{ width:230px; height:116px; margin-top:264px; margin-left:458px; color:#84cadb; font-weight:bold;}
.lgin_inut{
			background: none repeat scroll 0 0 transparent;
			border: medium none;
			height: 18px;
			line-height: 18px;
			float:left;
			font-size:12px;
			margin-left: 10px;
			margin-right: 8px;
			margin-top:28px;
			outline: medium none;
			width: 145px;
			 color:#3C0000;}
.lgn_button{ background:url(../image/lg_bmttom.jpg) no-repeat; 
             border: medium none;
             cursor: pointer;
			 width:95px;
			 height:51px;
			 color:#fff; font-weight:bold;
			 margin-top:291px;
			 margin-left:40px;
			 
			 
	}
.lg_notice{ height:20px; width:100%; float:left; clear:both; text-align:center; font-size:14px; color:#ff0000;}
.lgin_btm{ width:578px; height:44px; background:url(../image/lg_bottom_bg.jpg) repeat-x; }
	