@charset "utf-8";
/* ---------------------------------------------
main CSS file for woiyuadmin 
Created by:weq 2011-3-3
1.头部框架
2.通用列别
/*---------------------------------------------*/
body{ background: url("../image/left_bg.png") repeat-y scroll -15px top #E2E9EA;  color:#444444;}
.server{position:absolute;left:380px;top:17px;width:500px;;font-weight:bold;}
.header{ width:auto; height:81px; background: url(../image/main_header_bg.jpg) repeat-x #11110f;}
       .main_logo{ background:url(../image/main_logo.jpg) no-repeat; width:161px; height:78px; position:absolute; left:0px;}
	   .main_log { color:#9db5a5; height:20px; padding:18px 0 5px 180px;}
	       .main_log span{ color:#5F7278;}
	       .main_log a{color:#9db5a5;}
	       .main_log em a{ color:#80b0be; font-weight:bold;}
	   .top_nav{ height:30px; padding:5px 0 0 180px;}
	       .top_nav li{ float:left; display:inline; margin-right:2px; height:30px;}
		   .top_nav .top_menu a:link,
		   .top_nav .top_menu a:visited{color:#e2e1cc; font:bold 14px/30px Tahoma,Helvetica,SimSun,sans-serif,Hei;padding:0 15px; display:block; background:#353c34; }
		   .top_nav .top_menu a:hover{background:#424c43;}
		   .top_nav  .this{border:1px solid #ac110d;border-bottom:0px;background: url(../image/menu_this_bg.jpg) repeat-x #af100d; height:29px}
		   .top_nav  .this a{ font-size:14px; line-height:29px; color:#e2e1cc; padding:0 15px; display:block; font-weight:bold;}
.content{ width:auto;}
/*左侧导航/-------------------------*/
       
.left_menu{margin-right:12px;_margin-right:8px;padding:12px;_padding:12px 0 12px 12px;width:135px; position:relative; display:block;}

.left_menu_on{ width:0; padding:0;}
.left_menu_on div{ visibility:hidden;_display:none}
.left_menu h3{font-weight: 700;color: #275d96;border-bottom:1px solid #d9e4ea; line-height:24px; height:24px; margin-bottom:4px;_width:134px;_margin-right:12px}

.left_menu ul li{width:122px;color:#666; display:block;_margin-right:2px}
.left_menu ul li a{line-height:24px;padding-left:8px;display:block;text-decoration: none;background-color:#f7fbfc;_width:100px;}
.left_menu ul li a:hover,
	.left_menu ul li.on,.left_menu h3 span{background: url(../image/left_menu.gif) no-repeat;text-decoration: none}
	.left_menu ul li.on{width:130px; height:29px; padding-left:20px; margin:0}
	.left_menu ul li.on a{ height:29px; line-height:29px; background:none; padding:0; display:block}
	.left_menu ul li.on a:hover{background:none}
.left_menu ul li a:hover{background-position: left -38px}
.left_menu a.open,.left_menu a.close{background: url(../image/left_menu_openClose.png) no-repeat 3px center;width:10px; display:block; position:absolute; z-index:100; height:auto; right:-11px; top:0}
.left_menu a.open:hover,.left_menu a.close:hover{ background-color:#d6e1e4}
.left_menu a.close{background-position:right center}
.left_menu h3 span{background-position: left -78px; display:block; float:right; height:14px; width:14px; margin-top:5px}
.left_menu h3 span.on{background-position: -33px -78px;}
/*左侧导航/-------------------------*/
.right_conter{ margin-right:8px; margin-left:171px; height:100%;  margin-bottom:8px;}
.ie6 .right_conter{margin-right:8px; margin-left:150px; height:100%;  margin-bottom:8px;}
       .crumbs{background: url("../image/icon_use.png") no-repeat scroll 0 0 transparent;background-position: left -18px;height: 22px;padding: 6px 0 0 18px;}
       /*备用
	   .col-1 {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #F4F6F5; }
	   .col-1 div.content {border: 1px solid #C2D1D8;}
       .col-1 .main{ border: 1px solid #C2D1D8;}
	   */
	   /*容器样式*/
		.col-tab{ }
		.col-tab ul.tabBut{height:27px; padding-left:14px;position:relative;bottom:-1px}
		.col-tab ul.tabBut li{float:left; border:1px solid #dce3ed; height:25px; line-height:26px; margin-right:5px;}
		.col-tab ul.tabBut li{ background:#eaeef4; padding:0 8px;}
		.col-tab ul.tabBut li.on{position:relative; background:#fff;border-bottom:0;height:26px;_height:27px; font-weight:700;}
		.col-tab ul.tabBut li.icon{background-image:url(../images/icon/exclamation_small.png);padding-left:18px;background-repeat: no-repeat;background-position: 3px center;}
		.col-tab .content{border:1px solid #dce3ed;_zoom:1;}
		.col-tab .content-r{border-top:1px solid #dce3ed}
		.col-tab .contentList{border:1px solid #dce3ed;_zoom:1;}
		
		.col-1{ border:1px solid #f4f6f5;zoom:1; background:#fff}
		.col-1 div.content{border:1px solid #c2d1d8;zoom:1;}
		
		.col-2{ border:1px solid #c7d8ea;zoom:1;}
		.col-2 h6{border-bottom:1px solid #c7d8ea; color:#3a6ea5;background: url(../image/x_bg.png) repeat-x left -42px; height:26px; line-height:28px; padding:0 10px}
		.col-2 div.content{ padding:9px 10px}
		.col-auto{overflow:hidden;_zoom:1;_float:left;}
		.col-right{float:right}
		

	   
	   /*---通用表格---*/
	   .ib, .ib-li li, .ib-a a, .ib-span span,.common-form ul li span.text,.fixed-bottom .fixed-but .button,.arrowhead,.arrowhead-b,#Skin li,.shortcut a,.shortcut a span,.picBut a,.tab-use{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
	   .subnav { padding: 10px;}
			.content-menu{ padding:0 0 6px}
			.content-menu a:hover{text-decoration: none}
			.content-menu a em{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
			.content-menu a.add,.content-menu a.add em,
				.content-menu a.on,.content-menu a.on em{background: url(../image/bnt_bg.gif) no-repeat;height:28px; line-height:28px;*line-height:28px}
			.content-menu span{color:#ddd; padding:0 8px}
			.content-menu a{cursor:pointer;}
			.content-menu a.add{ padding:0 0 0 5px;}
			.content-menu a.add em{ padding:0 10px 0 5px;color:#fff;background-position: right top}
			.content-menu a.on{background-position: left -40px;*background-position: left -41px;_background-position: left -39px; color:#fff; padding:0 0 0 5px;}
			.content-menu a.on em{background-position: right -40px;*background-position: right -41px;_background-position: right -39px; padding:0 10px 0 5px}
	  
		.explain-col{ border:1px solid #ffbe7a;zoom:1; background: #fffced; padding:8px 10px; line-height:20px}
				 
	    
		/*分页-------*/
		#pages { padding:14px 0 10px;font-family:宋体; text-align:right}
		#pages a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #d5dfe8; text-align:center; color:#333; padding:0 10px}
		#pages a.a1 { background:#eef3f7;  padding:0 10px; }
		#pages a:hover { background:#e2e9ea; color:#000; text-decoration:none; }
		#pages span { display:inline-block; height:22px;padding:0 10px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center; }
		.page .noPage { display:inline-block; height:22px; line-height:22px; background:url(../img/icu/titleBg.png) repeat-x 0 -55px ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }
		/*分页----/*/
		/*---/通用表格结/束---*/	
		/*---通用表单验证---*/
		.onCkbg {
					background: url("../image/msg_bg.png");
					background-repeat:no-repeat;
					color: #444444;
					line-height: 18px;
					margin-left: 5px;
					padding: 2px 10px 2px 23px;
					vertical-align: middle;}
	     .onShow { background-position: 3px -147px; color: #959595;}
		 .onFocus {background-position: 3px -147px; border-color: #40B3FF;}
         .onError {background-position: 3px -47px; color: red;}
		 .onCorrect {background-position: 3px -247px;}
         .onLamp {background-position: 3px -200px;}
		 .onTime {background-position: 3px -1356px;}
    
		
		/*---简单通用（单行）递交表单---*/
		  .table_form{font-size: 12px;}
		  .table_form tbody td, .table_form tbody th { border-bottom: 1px solid #EEEEEE;}
          .table_form td, .table_form th {padding: 8px 0 8px 8px;}
		  .table_form td { padding-left: 12px;}

		/*---/文章发布/---*/
		.addContent{ min-width:960px; overflow:hidden;}
		.addContent .col-auto{}
		.addContent .col-right{ width:204px; overflow:hidden; margin-left:6px;}
		.addContent .col-right .content h6{ border-bottom:1px solid #cfdce3; padding:8px 0 3px; margin-bottom:7px}
		.addContent .col-right .content input{max-width:182px}
		.addContent .col-right .content .upload-pic{width:180px;height:180px;text-align:center;overflow:hidden;}
		.addContent .col-right .content .upload-pic a{display:table-cell;vertical-align:middle;width:180px;height:145px;text-align:center;*display:block;*font-size:105px}
		.addContent .col-right .content .upload-pic{ background:#eef2f2; border:1px solid #dce6ea; zoom:1; padding:1px;}
		.addContent .col-right select#template{max-width:188px;*width:188px;_width:188px}
		
		.list-dot{ padding-bottom:10px}
		.list-dot li,.list-dot-othors li{padding:5px 0; border-bottom:1px dotted #c6dde0; font-family:"宋体"; color:#bbb; position:relative;_height:22px}
		.list-dot li:hover,.list-dot-othors li:hover{ background-color:#d9e5ee}
		.list-dot li span,.list-dot-othors li span{color:#004499}
		.list-dot li a.close span,.list-dot-othors li a.close span{display:none}
		.list-dot li a.close,.list-dot-othors li a.close{background: url(../image/cross.png) no-repeat left 3px; 
		                                                 display:block; width:16px; height:16px;
														 position: absolute;
														 outline:none;right:5px; bottom:5px}
		.list-dot li a.close:hover,.list-dot-othors li a.close:hover{background-position: left -46px}
		.list-dot-othors li{float:left;width:24%;overflow:hidden;}
		.content_attr { background: none repeat scroll 0 0 #FFFFCC; border: 1px solid #CCCCCC; margin-top: 6px; padding: 5px 8px;}
		.fixed-bottom{height:60px;_margin-top:12px}
		.fixed-bottom .fixed-but{height:30px; padding:10px 0; width:100%;}
		.fixed-bottom .fixed-but .button,.fixed-bottom .fixed-but .button input{
			background: url(../image/btn-content.png) no-repeat; border:none; height:32px; line-height:32px; vertical-align:middle; margin:0;}
		.fixed-bottom .fixed-but .button{padding:0 0 0 10px; margin:0; margin:0 5px}
		.fixed-bottom .fixed-but .button input{padding-right:10px; margin:0;background-position: right top; display:block;color:#004092; font-size:14px; font-weight:700; white-space: nowrap;}
		.text-c {text-align: center;}

    
   
   
   
         .test_pop{ position:absolute; width:300px; height:200px; top:200px; left:300px; background:#FFC;}

		
		/*---/附件上传浮动层/---*/
		.upimg_pop{}
		   .upimg_pop_ul{ background-color:#f7fbfc; height:28px; width:auto; padding:8px 0 0 20px; border-bottom:#d2dce2 solid 1px; position:relative;}
		   .upimg_pop_ul li{ display:block ;border:#d2dce2 solid 1px; margin-right:5px;border-bottom:0 none; position:relative; _bottom:-1px;}
		   .upimg_pop_ul li.on{ background-color:#FFF; height:28px; _height:29px; cursor:hand;}
		   .upimg_pop_ul li.off{ background-color:#e2e9ea; height:27px; cursor: pointer; cursor:hand; }
		   .upimg_pop_ul li span{color:#275d96; padding:0px 10px 0px 10px;line-height:28px;}
		.upimg_pop .selet_img{ width:100%; height:28px; padding:20px 20px 10px 20px;}   
		           .selet_img .up_btm{ width:96px; height:28px; margin-right:8px;}
				   .selet_img .up_time{ height:8px; width:203px; border:1px solid #adb9c0;line-height:0px; margin-top:10px;margin-right:8px; }
				   .selet_img .up_time .time{ height:8px; background-color:#c6d7d9;_line-height:0px; float:left;}
	    .upimg_pop .upimg_list{ margin:0px 20px 0px 20px; padding:1px; height:210px; border:1px solid #a9b1b7;}
		.upimg_pop .upimg_list a.img_del{ height:16px; width:16px; background:url(../image/cross.gif) no-repeat scroll left 3px; margin-top:2px;}
		.upimg_pop .upimg_list a.img_del:hover{  background-position: left -46px;}
		.upimg_pop .upimg_list_bm{ height:26px; line-height:26px; margin:5px 20px 0px 20px; background-color:#EEF3F7; padding-left:10px;}
		.upimg_pop .upimg_pop_bm{  height:24px; width:auto; padding:8px 20px 0 20px; margin-top:5px; text-align:right;}
		   
		 
		
		/*---/文章发布/---*/
					   
		


   

   
   

	   
    /*自己定义头像*/
.photomaker_wapper{float:left;width:434px;margin:0 0 50px 10px;display:inline;}
#Canvas{position:relative;width:434px;height:349px;overflow:hidden;cursor:pointer;}
.transbox2{background-color:#CCCCCC}
.transbox2in{width:110px;height:135px;border:2px solid #D63101;}
#Crop{position:relative;width:434px;height:349px;z-index:7;top:0px;left:0px;opacity:0.75;filter:alpha(opacity=75);cursor:move;}
.cutphotos .content{margin-left:20px;display:inline;}
.cutphotos .content h2{padding-left:30px;}
.photomaker_wapper h3{width:434px;float:left;text-align:center;margin-top:10px;}
.photomaker_wapper h3 img{margin-left:10px;}
.photomaker_wapper h3 img.img01{margin-left:100px;}
.photomaker_wapper h3 em{float:right;margin:15px 50px 0 0;}
.photomaker_wapper h2{text-align:center;font-weight:normal;color:#FF0000;font-size:12px;}
.upavatarTi{float:left;font-size:14px;font-weight:bold;line-height:30px;width:100%;}
.bgava{background-image:url(../../img/avbg.png);background-repeat:no-repeat;background-position: 45px -1px;}

.bigautocomplete-layout{display:none;background-color:#FFFFFF;border:1px solid #BCBCBC;position:absolute;z-index:100;max-height:220px;overflow-x:hidden;overflow-y:auto; line-height:26px; padding-bottom:5px; }
.bigautocomplete-layout table{border-collapse:collapse;border-spacing:0;background:none repeat scroll 0 0 #FFFFFF;width:100%;cursor:default;}
.bigautocomplete-layout table tr{background:none repeat scroll 0 0 #FFFFFF;}
.bigautocomplete-layout .ct{background:none repeat scroll 0 0 #D2DEE8 !important;}
.bigautocomplete-layout div{word-wrap:break-word;word-break:break-all;padding:1px 5px;}

   
    
    


    
   
    
   




    


    
    
  



   

    
   
    
    

							
		    
   
    
    
   
    
    

    
   

									
								