<?php include $VIEW_PATH . "/include/maincontentheader.html"; ?>

<body>

    <form  id="form1" style="overflow:hide; " onsubmit="aku.loader.post( '', '/opacity/operadmrole/add', this ); return false;">

        <table class="edit partview">
            <tbody>
                <tr>
                    <td class="textAlignRight" style="width: 80px;">
                        部门名称：
                    </td>
                    <td >
                        <input name="name" type="text"  class="int" style="width:200px;">
                        <span class="words">*</span>
                        <span class="words" id="spanName"></span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="borderBottom"></td>
                </tr>

                <tr>
                    <td class="textAlignRight">
                        超级管理员：
                    </td>
                    <td >
                        <label >
                            <input type="radio" name="is_admin" class="radioIsAdmin" value="1" onclick="switchIsAdmin(this)">是</label>
                        <span style="margin-left:10px;"></span>
                        <label >
                            <input type="radio" name="is_admin" class="radioIsAdmin" value="0" checked="true" onclick="switchIsAdmin(this)">否</label>
                        <script>
                            function switchIsAdmin(obj) {
                                if ($(obj).val() == 0) {
                                    $(".modulebox").css("display", "table-row");
                                } else {
                                    $(".modulebox").css("display", "none");
                                }
                            }
                        </script>
                    </td>
                </tr>

                <tr class="modulebox" style="display:none">
                    <td colspan="2" class="borderBottom"></td>
                </tr>

                <tr class="modulebox" style="display:none">
                    <td class="textAlignRight">
                        权限模块：
                        <br>
                    </td>
                    <td >
                        <?php foreach ($moduleTree as $module) { ?>
                            <div>
                                <h3><label><input type="checkbox" name="auto_module[]" class="auto_module" value="<?php echo $module['id']; ?>" data-level="<?php echo $module['level']; ?>" /><?php echo $module['name']?></label></h3>
                                <?php foreach ($module['sub'] as $subModule) { ?>
                                <div>
                                    <h5><label><input type="checkbox" name="auto_module[]" class="auto_module auto_module_<?php echo $module['id']; ?> " value="<?php echo $subModule['id']; ?>" data-level="<?php echo $subModule['level']; ?>" data-pid="<?php echo $subModule['pid']; ?>" /><?php echo $subModule['name']?></label></h5>
                                    <?php foreach ($subModule['sub'] as $subSubModule) { ?>
                                        <label style="display:inline-block"><input type="checkbox" name="auto_module[]" class="auto_module auto_module_<?php echo $module['id']; ?> auto_module_<?php echo $module['id']; ?>_<?php echo $subModule['id']; ?>" value="<?php echo $subSubModule['id']; ?>" data-level="<?php echo $subSubModule['level']; ?>" /><?php echo $subSubModule['name']?></label>
                                    <?php } ?>
                                </div>
                                <?php } ?>
                            </div>
                        <?php } ?>
                        </div>  
                        <script>
                            $(".auto_module").on('click', function() {
                                if ($(this).data('level') == 1) {   
                                    $(".auto_module_" + $(this).val()).prop("checked", $(this).prop("checked"));
                                    $(".auto_module_" + $(this).val()).prop("disabled", $(this).prop("checked"));
                                } else if ($(this).data('level') == 2) {
                                    
                                    $(".auto_module_" + $(this).data('pid') + "_" + $(this).val()).prop("checked", $(this).prop("checked"));
                                    $(".auto_module_" + $(this).data('pid') + "_" + $(this).val()).prop("disabled", $(this).prop("checked"));
                                } else if ($(this).data('level') == 3) {
                                    // $(".auto_module_" + $(this).val()).prop("checked", $(this).prop("checked"));
                                }
                            })
                        </script>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="borderBottom"></td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="submit" name="btnSave" value="保 存" id="btnSave" class="button">
                        <input type="button" name="btnSave" value="返 回" onclick="history.go(-1);" class="button">
                    </td>
                </tr>
            </tbody>
        </table>

    </form>

</body>


<script>


$(document.body).ready(function() {


    var mainContentHeight = window.parent.document.getElementById("mainContent").contentWindow.document.documentElement.scrollHeight

    
    var form = document.getElementById("form1");
    
    console.log(form.scrollHeight);

    if (form.scrollHeight > mainContentHeight) {
        var page_height = form.scrollHeight;

        $(window.parent.document).find("#main_box").css({'height':(page_height+50)+'px'})
        $(window.parent.document).find("#main_box>iframe").css({'height':(page_height+50-2)+'px'});

        // 	$("#main_box").css({'height':(page_height-120)+'px'});
        // 	$("#main_box>iframe").css({'height':(page_height-122)+'px'});
    }

});




</script>


<?php include $VIEW_PATH . "/include/maincontentfooter.html"; ?>