<?php include $VIEW_PATH . "/include/maincontentheader.html"; ?>

<body>
  <form name="form1" method="post" action="Position.aspx?navId=5d4ba9de-7ae0-4b38-b71d-2d47ae319225" id="form1" tabindex="5000"
    style="height: 844px; overflow-y: hidden; outline: none;">

    <script type="text/javascript">
      //<![CDATA[
      var theForm = document.forms['form1'];
      if (!theForm) {
        theForm = document.form1;
      }
      function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
          theForm.__EVENTTARGET.value = eventTarget;
          theForm.__EVENTARGUMENT.value = eventArgument;
          theForm.submit();
        }
      }
//]]>
    </script>



    <table class="search">
      <tbody>
        <tr>
          <td class="search_left">
            <input type="button" onclick="location.href='/opacity/operadmrole/add';" name="btnNew" value="添加新部门" id="btnNew" class="button" style="margin-left: 20px;" />
            <!-- <span style="color:red;margin-top:5px;padding-left:20px;">体验用户无法使用此功能！</span> -->
          </td>
        </tr>
      </tbody>
    </table>


    <table class="list" style="text-align:center;">
      <thead>
        <tr>
          <th>操作</th>
          <th>部门名称</th>
          <th>人员数</th>
          <th>添加日期</th>
          <th>描述</th>
        </tr>
      </thead>
      <tbody>

        <tr bgg="rgb(255, 255, 255)">
          <td style="width: 100px; background-color: rgb(255, 255, 255);">
            <a href="Position.aspx?navId=5d4ba9de-7ae0-4b38-b71d-2d47ae319225&amp;PositionGuid=19f7294c-e7dc-44cb-8d3e-0f936d2917c6">[修改]</a>
            <a onclick="return confirm('确认要删除吗？');" id="rptPosition_ctl00_linkDel" href="javascript:__doPostBack('rptPosition$ctl00$linkDel','')">[删除]</a>
          </td>
          <td style="background-color: rgb(255, 255, 255);">AAAA</td>
          <td style="background-color: rgb(255, 255, 255);">买买买</td>
          <td style="background-color: rgb(255, 255, 255);">0</td>
          <td style="text-align: left; background-color: rgb(255, 255, 255);">

          </td>
        </tr>

        <tr bgg="rgb(248, 248, 248)">
          <td style="width: 100px; background-color: rgb(248, 248, 248);">
            <a href="Position.aspx?navId=5d4ba9de-7ae0-4b38-b71d-2d47ae319225&amp;PositionGuid=2bbd628d-c719-41e8-9ccd-1ab21111bb26">[修改]</a>
            <a onclick="return confirm('确认要删除吗？');" id="rptPosition_ctl01_linkDel" href="javascript:__doPostBack('rptPosition$ctl01$linkDel','')">[删除]</a>
          </td>
          <td style="background-color: rgb(248, 248, 248);">教务主管</td>
          <td style="background-color: rgb(248, 248, 248);">校长</td>
          <td style="background-color: rgb(248, 248, 248);">0</td>
          <td style="text-align: left; background-color: rgb(248, 248, 248);">

          </td>
        </tr>



      </tbody>
    </table>
  </form>
</body>

<?php include $VIEW_PATH . "/include/maincontentfooter.html"; ?>
