html, body { margin: 0px; padding: 0px; width: 100%; height: 100%; position: relative; border: none; overflow: hidden; }

.main bg{display: none;}

a, a:active, a:hover { text-decoration: none; color: white; }

body { background-color: #F9F9F9; font-family: Helvetica,Arial,sans-serif; color: #666666; font-size: 12px; }

#main { height: 500px; width: 100%; margin: 0px auto; }

#top { height: 125px; width: 100%; border-bottom: 1px solid #E6E6E6; position: relative; }

#topText { margin: 0px auto; margin-top: 4px; width: 70px; text-align: center; font-size: 16px; font-weight: bold; }

#center { width: 100%; height: 370px; border-bottom: 1px solid #E6E6E6; position: relative; }

#products { width: 880px; height: 100%; border-bottom: 1px solid #E6E6E6; margin: 0px auto; /*background-color: red;*/ }

#products .item { width: 160px; height: 185px; border-radius: 3px; margin-top: 85px; margin-left: 48px; float: left; position: relative; color: white; padding-top: 15px; overflow: hidden; }

.link { width: 160px; height: 200px; border-radius: 3px; position: absolute; top: 0px; left: 0px; z-index: 1; display: none; font-size: 16px; font-weight: bold; text-align: center; line-height: 200px; }

#products .item:hover .etm, #products .item:hover .productName, #products .item:hover .description { display: none; }

#products .item:hover .link { display: block; }


.clear { clear: both; }

#tj { background-color: #FE5FA7; }

#tj:hover { background-color: #FE0A78; cursor: pointer; }

#tj:hover .link { cursor: default; }

#zj { background-color: #FF9900; }

#zj:hover { background-color: #ff6600; cursor: pointer; }

#yj { background-color: #97C711; }

#yj:hover { background-color: #669900; cursor: pointer; }

#px { background-color: #9DDDF9; }

#px:hover { background-color: #51b0ea; cursor: pointer; }

.productName { font-size: 14px; font-weight: bold; text-align: center; width: 100%; margin-top: 10px; }

.description { width: 140px; margin: 0px auto; text-align: center; margin-top: 25px; }

#productLogin { display: none; position: absolute; top: 0px; left: 0px; z-index: 2; }

#question { margin: 0px auto; background: url(sprite.png) -0px -0px no-repeat; height: 77px; width: 79px; overflow: hidden; _background: none; _padding-left: 0px; _margin-left: -0px; _padding-top: 0px; _margin-top: -0px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="sprite.png"); }

.etm { margin: 0px auto; background: url(sprite.png) -79px -0px no-repeat; height: 66px; width: 66px; overflow: hidden; _background: none; _padding-left: 79px; _margin-left: -79px; _padding-top: 0px; _margin-top: -0px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="sprite.png"); }

#str { position: absolute; bottom: -10px; left: 10px; background: url(sprite.png) -153px -9px no-repeat; height: 22px; width: 212px; overflow: hidden; _background: none; _padding-left: 153px; _margin-left: -153px; _padding-top: 9px; _margin-top: -9px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="sprite.png"); }

#arrow { position: absolute; bottom: -1px; left: 10px; background: url(sprite.png) -373px -9px no-repeat; height: 13px; width: 22px; overflow: hidden; _background: none; _padding-left: 373px; _margin-left: -373px; _padding-top: 9px; _margin-top: -9px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="sprite.png"); }

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#topText { margin-top: 7px; }
}

@media \0screen\,screen\9 {
	#topText { margin-top: 7px; }
}

@media screen\0 {
	#topText { margin-top: 7px; }
}

@media all and (-ms-high-contrast:none) {
	#topText { margin-top: 7px; }

	*::-ms-backdrop, #topText { margin-top: 7px; }
}





@font-face { font-family: "iconfont"; src: url('Themes/fonts/iconfont.eot?t=1487040923675'); /* IE9*/ src: url('Themes/fonts/iconfont.eot?t=1487040923675#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('Themes/fonts/iconfont.woff?t=1487040923675') format('woff'), /* chrome, firefox */ url('Themes/fonts/iconfont.ttf?t=1487040923675') format('truetype'); }

.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-erweima:before { content: "\e65b"; }

.icon-pingguo:before { content: "\e65c"; }

.icon-shouye-shouye:before { content: "\e65d"; }

.icon-anzhuo:before { content: "\e65e"; }

.icon-QQ:before { content: "\e65f"; }

.icon-dianhua1:before { content: "\e660"; }

#leftMenu { position: fixed; top: 0px; left: 0px; width: 65px; height: 100%; background: #384042; z-index: 99; color: #DEDED9; }

#leftMenu #linkHome { display: block; position: absolute; width: 50px; height: 70px; top: 0px; left: 0px; z-index: 1; }

#leftMenu div { margin-left: 7px; width: 50px; text-align: center; position: relative; }

#leftMenu div:hover { color: #ff6600; }

#leftMenu .link1:hover { cursor: pointer; }

#leftMenu .iconfont { font-size: 40px; color: white; }

#leftMenu .icon-shouye-shouye { height: 70px; line-height: 70px; border-bottom: 1px solid #2D3335; }

#leftMenu .icon-erweima { height: 70px; line-height: 70px; border-top: 1px solid #2D3335; position: fixed; bottom: 0px; left: 0px; }

#leftMenu .borderBottom { border-bottom: 1px solid #2D3335; padding-bottom: 30px; }

#leftMenu .product, #leftMenu .support { margin-top: 30px; }

#appDownload { width: 360px; position: fixed; top: 100px; left: 65px; border: 1px solid #E6E6E6; background: white; border-left-width: 0px; z-index: 100; }

#appDownload .downloadContainer { position: relative; width: 100%; }

#appDownload img { position: absolute; bottom: 37px; left: -6px; }

#appDownload .title { width: 320px; margin-left: 20px; height: 50px; line-height: 50px; border-bottom: 1px solid #E6E6E6; text-align: left;  padding-top: 5px;}

#appDownload .downloadLink { float: left; margin-left: 20px; width: 150px; margin-top: 20px; }

#appDownload .downloadLink .text { text-align: center; height: 30px; line-height: 30px; margin-bottom: 13px; margin-top: 5px; }

#appDownload .qr { width: 150px; height: 150px; }

#appDownload .iconfont { margin-right: 10px; }

#wxETM { width: 190px; position: fixed; bottom: 0px; left: 65px; border-top: 1px solid #E6E6E6; background: white; border-right: 1px solid #E6E6E6; z-index: 100; }

#wxETM .downloadContainer { position: relative; width: 100%; }

#wxETM img { position: absolute; bottom: 9px; left: -6px; }

#wxETM .sprite-etm { width: 150px; height: 150px; margin-left: 20px; margin-top: 20px;margin-bottom:20px; }

#wxETM .text { line-height: 20px; margin-left: 20px; margin-top: 10px; margin-bottom: 10px; }

#support { width: 165px; position: fixed; top: 353px; left: 65px; border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; background: white; border-right: 1px solid #E6E6E6; z-index: 100; }

#support .phone, #support .qq { margin-left: 20px; height: 27px; line-height: 27px; margin-top: 8px; }

#support .qq { margin-bottom: 12px; }

#support .qq iframe { position: relative; top: 5px; }

#support .iconfont { margin-right: 10px; }

#support .downloadContainer { position: relative; width: 100%; }

#support img { position: absolute; bottom: 16px; left: -6px; }


.DemoTip { width: 185px; position: fixed; left: 65px; border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; background: white; border-right: 1px solid #E6E6E6; z-index: 100; }
.DemoTip .downloadContainer { position: relative; width: 100%; }
.DemoTip .text { height: 45px; line-height: 19px; margin-left: 10px; margin-right: 5px; margin-top: 10px; }
.DemoTip img { position: absolute; bottom: 22px; left: -6px; }
#noDemoTip1 { top: 82px; }
#noDemoTip2 { top: 82px; }
#noDemoTip3 { top: 125px; }
#noDemoTip4 { top: 223px; }

.clear { clear: both; }

.hidden { display: none; }

.sprite-boss_android { width: 150px; height: 150px; background: url(Images/spritesheet.png) no-repeat -5px -5px; }

.sprite-boss_ios { width: 150px; height: 150px; background: url(Images/spritesheet.png) no-repeat -165px -5px; }

/*.sprite-etm { width: 150px; height: 150px; background: url(Images/spritesheet.png) no-repeat -5px -165px; }*/
.sprite-etm { width: 150px; height: 150px; background: url(Images/etm_QR.png) no-repeat; }

.sprite-home_android { width: 150px; height: 150px; background: url(Images/spritesheet.png) no-repeat -165px -165px; }

.sprite-home_ios { width: 150px; height: 150px; background: url(Images/spritesheet.png) no-repeat -325px -5px; }

.sprite-home_wx { width: 150px; height: 150px; background: url(Images/spritesheet.png) no-repeat -165px -325px;}


.sprite-zs_android { width: 150px; height: 150px; background: url(Images/spritesheet.png) no-repeat -325px -165px; }

.sprite-zs_ios { width: 150px; height: 150px; background: url(Images/spritesheet.png) no-repeat -5px -325px; }

@supports (-moz-appearance:none) and (display:contents) {
	#appDownload img { bottom: 35px; }

	#support { top:418px; }

	#wxETM img { bottom: 21px; }
}

@supports (-ms-ime-align:auto) {
	#appDownload img { bottom: 35px; }

	#support { top: 418px; }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /*10 11*/
	#wxETM img { bottom: 11px; }

	#support { top: 342px; }

	#appDownload img { bottom: 37px; }
}

#wxETM img { bottom: 21px\9; }

#support { top: 418px\9; }

#appDownload img { bottom: 37px\9; }

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
	@media {
		#support { top: 460px; color: #666666; }

		#appDownload img { bottom: 35px; }
	}
}