<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>opacity</title>

    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/common.css" type="text/css" rel="stylesheet">
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/main.css" type="text/css" rel="stylesheet">
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/table_form.css" type="text/css" rel="stylesheet">

    <!--<link href="<?php echo $HTTP_STATIC_URL?>/assets/ui/layui/css/layui.css" type="text/css" rel="stylesheet">-->
    <!--<link href="<?php echo $HTTP_STATIC_URL?>/assets/ui/style/admin.css" type="text/css" rel="stylesheet">-->

    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/jquery-3.3.1.min.js"></script>

    

    <!-- <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/jquery-3.3.1.min.js"></script> -->



    <!--<link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">-->
    <!--<link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">-->

</head>

<body>

<a href="index.php" class="box "></a>
<div class="header">
    <div class="main_log" style="color:#000;">
        您好！{{$uinfo.username}}
        [<a href="javascript:void(0)" onclick="javascript:loader.get('修改密码','/index/repwd', null, null, 'upPwdLoad')">修改密码</a>]
        <span>|</span>
        [<a href="/index/logout" >退出</a>]
        <span>|</span>
    </div>
    <ul class="top_nav" id="topMenu">
        <?php foreach ($topMenu as $item)  { ?>
            <li class="<?php echo $controller == $item['controller'] ? 'this' : 'top_menu'; ?>" id="top{{$item.purview_tag}}">
                <a href="{{if $item.action}}{{$item.action}}{{else}}javascript:loadLMod('{{$item.purview_tag}}'){{/if}}" ><?php echo $item['name']; ?></a>
            </li>
        <?php } ?>
    </ul>
</div>