<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>opacity</title>

    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/common.css?v=<?php echo $APP_STATIC_VERSION;?>" type="text/css" rel="stylesheet">
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/main.css?v=<?php echo $APP_STATIC_VERSION;?>" type="text/css" rel="stylesheet">
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/table_form.css?v=<?php echo $APP_STATIC_VERSION;?>" type="text/css" rel="stylesheet">

    

    <!--<link href="<?php echo $HTTP_STATIC_URL?>/assets/ui/layui/css/layui.css" type="text/css" rel="stylesheet">-->
    <!--<link href="<?php echo $HTTP_STATIC_URL?>/assets/ui/style/admin.css" type="text/css" rel="stylesheet">-->



    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/jquery-3.3.1.min.js?v=<?php echo $APP_STATIC_VERSION;?>"></script>
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/layer/layer.js?v=<?php echo $APP_STATIC_VERSION;?>"></script>
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/laydate/laydate.js?v=<?php echo $APP_STATIC_VERSION;?>"></script>

    

</head>

<body>

<a href="index.php" class="box "></a>
<div class="header">
    <div class="main_log" style="color:#000;">
        您好！{{$uinfo.username}}
        [<a href="javascript:void(0)" onclick="javascript:loader.get('修改密码','/index/repwd', null, null, 'upPwdLoad')">修改密码</a>]
        <span>|</span>
        [<a href="/index/logout" >退出</a>]
        <span>|</span>
    </div>
    <ul class="top_nav" id="topMenu">
        <?php foreach ($topMenu as $item)  { ?>
            <li class="<?php echo $item['id'] == $leftMenu[0]['pid'] ? 'this' : 'top_menu'; ?>" id="top<?php echo $item['id'];?>">
                <a href="javascript:loadLeftMenu('<?php echo $item['id']?>')" ><?php echo $item['name']; ?></a>
            </li>
        <?php } ?>
    </ul>
</div>

<script type="text/javascript">
function loadLeftMenu(pid) {
    if (!pid) return;
    autoMainBoxHeight();
    $.ajax({
        url: "<?php echo $APP_WEB_HOST;?>/opacity/main/getLeftMenu?pid=" + pid,
        type: "GET",
        dataType: "jsonp",
        success: function (data) {
            $("#leftMenu").html(data.html);
            $("#topMenu").find(".this").prop("class", 'top_menu');
            $("#top" + pid).prop("class", "this");

            loadMainContent(0,'', "<?php echo $APP_WEB_HOST;?>/" + data.module + "/" + data.controller + "/index");
        }
    });
}

function loadMainContent(pid, nav, src) {
    autoMainBoxHeight();
    $("#leftMenu").find(".sub_menu").prop("class", "sub_menu");
    $("#sub_menu" + pid).prop("class", "sub_menu on");
    $("#mainContent").prop("src", src);
}

function autoMainBoxHeight() {
    var height = $("#main_box").height(); 
    var page_height = document.documentElement.clientHeight;

    // if( height+110<page_height){
        $("#main_box").css({'height':(page_height-120)+'px'});
        $("#main_box>iframe").css({'height':(page_height-122)+'px'});
    // }
}

$(document).ready(function() {
    autoMainBoxHeight();
});


</script>