<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>opacity</title>

    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/common.css" type="text/css" rel="stylesheet" />
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/admin.css" type="text/css" rel="stylesheet" />
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/main.css" type="text/css" rel="stylesheet" />
    

    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/etm.css?v=<?php echo $APP_STATIC_VERSION;?>" type="text/css" rel="stylesheet" />
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/theme2/etm.css?v=<?php echo $APP_STATIC_VERSION;?>" type="text/css" rel="stylesheet" />
    
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/jquery-3.3.1.min.js?v=<?php echo $APP_STATIC_VERSION;?>"></script>
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/layer/layer.js?v=<?php echo $APP_STATIC_VERSION;?>"></script>
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/laydate/laydate.js?v=<?php echo $APP_STATIC_VERSION;?>"></script>
    
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/opacity.js?v=<?php echo $APP_STATIC_VERSION;?>"></script>

</head>