<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>opacity</title>
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/etm.css" type="text/css" rel="stylesheet" />
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/theme2/etm.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/layer.js"></script>
  </head>
  


<body>
    <form name="form1" method="post" action="UserEdit.aspx?navId=8e5f7ad0-28f0-488f-9b45-0b46d4a9fe57" id="form1">


    <div id="tab"></div>

    <div class="tabs" style="text-align: left;">
        <div class="tabsBottomBar">&nbsp;</div>
        <a href="<?php echo $HTTP_WEB_HOST ?>/opacity/exampleform/index" to="#BaseInfo" style="margin-left:10px;" class="currentTabSelected tabItem tabSelected">基本信息</a>|
        <a href="<?php echo $HTTP_WEB_HOST ?>/opacity/exampleform/photo" to="#Photos" class="tabItem">学员照片</a>|
        <a href="<?php echo $HTTP_WEB_HOST ?>/opacity/exampleform/assessinfo" to="#AssessInfo" class="tabItem">问卷调查</a>
        <div class="selectedbar" style="width: 68px; left: 10px; overflow: hidden;">&nbsp;</div>
    </div>





    <table id="AssessInfo" width="100%" class="edit ">
    <tr>
        <td colspan="4">
        <div class="title1">
            <div>&nbsp;</div>收入情况：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td colspan="3">
        <span id="lb1">
            <input name="rule1" type="radio" value="51" />philo&nbsp;
            <input name="rule1" type="radio" value="53" />121&nbsp;
            <input name="rule1" type="radio" value="2" />月收入2万以上&nbsp;
            <input name="rule1" type="radio" value="5" />月收入1至2万&nbsp;
            <input name="rule1" type="radio" value="6" />月收入8千左右&nbsp;
            <input name="rule1" type="radio" value="7" />月收入3千到5千&nbsp;
            <input name="rule1" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="4">
        <div class="title1">
            <div>&nbsp;</div>住房情况：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td colspan="3">
        <span id="lb2">
            <input name="rule2" type="radio" value="42" />别墅&nbsp;
            <input name="rule2" type="radio" value="43" />豪华小区购房&nbsp;
            <input name="rule2" type="radio" value="45" />自建房&nbsp;
            <input name="rule2" type="radio" value="48" />普通小区购房&nbsp;
            <input name="rule2" type="radio" value="3" />租房&nbsp;
            <input name="rule2" type="radio" value="50" />jf&nbsp;
            <input name="rule2" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="4">
        <div class="title1">
            <div>&nbsp;</div>交通情况：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td colspan="3">
        <span id="lb3">
            <input name="rule3" type="radio" value="9" />司机代驾&nbsp;
            <input name="rule3" type="radio" value="10" />自驾&nbsp;
            <input name="rule3" type="radio" value="13" />步行&nbsp;
            <input name="rule3" type="radio" value="11" />出租&nbsp;
            <input name="rule3" type="radio" value="12" />公交&nbsp;
            <input name="rule3" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="4">
        <div class="title1">
            <div>&nbsp;</div>家庭距离：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td colspan="3">
        <span id="lb4">
            <input name="rule4" type="radio" value="49" />111&nbsp;
            <input name="rule4" type="radio" value="14" />0.5km内&nbsp;
            <input name="rule4" type="radio" value="15" />0.5km~2km&nbsp;
            <input name="rule4" type="radio" value="16" />2km~5km&nbsp;
            <input name="rule4" type="radio" value="17" />5km~10km&nbsp;
            <input name="rule4" type="radio" value="18" />10km以上&nbsp;
            <input name="rule4" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="2">
        <div class="title1">
            <div>&nbsp;</div>品牌认可度：</div></td>
        <td colspan="2">
        <div class="title1">
            <div>&nbsp;</div>品牌意识：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td class="borderRight" style="width: 350px;">
        <span id="lb6">
            <input name="rule6" type="radio" value="24" />知道多家早教品牌及理念&nbsp;
            <br />
            <input name="rule6" type="radio" value="25" />了解本品牌及理念&nbsp;
            <br />
            <input name="rule6" type="radio" value="26" />听说过本品牌，印象不错&nbsp;
            <br />
            <input name="rule6" type="radio" value="27" />不知道本品牌&nbsp;
            <br />
            <input name="rule6" type="radio" value="28" />不认可本品牌&nbsp;
            <br />
            <input name="rule6" type="radio" value="0" checked />不确定</span></td>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td>
        <span id="lb5">
            <input name="rule5" type="radio" value="19" />知道早教，熟悉各品牌&nbsp;
            <br />
            <input name="rule5" type="radio" value="20" />知道早教，有进行胎教&nbsp;
            <br />
            <input name="rule5" type="radio" value="21" />不清楚早教，给孩子找伴&nbsp;
            <br />
            <input name="rule5" type="radio" value="22" />觉得早教上不上都一样&nbsp;
            <br />
            <input name="rule5" type="radio" value="23" />抵触早教，认为没用&nbsp;
            <br />
            <input name="rule5" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="2">
        <div class="title1">
            <div>&nbsp;</div>家庭意见：</div></td>
        <td colspan="2">
        <div class="title1">
            <div>&nbsp;</div>报课意向：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td class="borderRight">
        <span id="lb7">
            <input name="rule7" type="radio" value="29" />家庭都同意在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="30" />父母愿在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="31" />父、母一方希望在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="32" />家庭成员有人不赞成在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="33" />家庭都反对在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="0" checked />不确定</span></td>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td>
        <span id="lb8">
            <input name="rule8" type="radio" value="34" />1周内&nbsp;
            <br />
            <input name="rule8" type="radio" value="35" />1个月内&nbsp;
            <br />
            <input name="rule8" type="radio" value="36" />2个月内&nbsp;
            <br />
            <input name="rule8" type="radio" value="37" />2个月以上&nbsp;
            <br />
            <input name="rule8" type="radio" value="38" />不打算&nbsp;
            <br />
            <input name="rule8" type="radio" value="0" checked />不确定</span></td>
    </tr>
    </table>


    <div class="borderBottom"></div>




    <input type="submit" name="btnSave" value="全部保存" onclick="return getValidator();" id="btnSave" class="button" style="position: fixed;top: 10px;right: 15px;width: 85px;" />


































    








    </form>
  </body>

</html>