<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>opacity</title>
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/etm.css" type="text/css" rel="stylesheet" />
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/theme2/etm.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/layer.js"></script>
  </head>
  

  


<body>
    <form name="form1" method="post" action="UserEdit.aspx?navId=8e5f7ad0-28f0-488f-9b45-0b46d4a9fe57" id="form1">


    <div id="tab"></div>

    <div class="tabs" style="text-align: left;">
        <div class="tabsBottomBar">&nbsp;</div>
        <a href="<?php echo $HTTP_WEB_HOST ?>/opacity/exampleform/index" to="#BaseInfo" style="margin-left:10px;" class="currentTabSelected tabItem tabSelected">基本信息</a>|
        <a href="<?php echo $HTTP_WEB_HOST ?>/opacity/exampleform/photo" to="#Photos" class="tabItem">学员照片</a>|
        <a href="<?php echo $HTTP_WEB_HOST ?>/opacity/exampleform/assessinfo" to="#AssessInfo" class="tabItem">问卷调查</a>
        <div class="selectedbar" style="width: 68px; left: 10px; overflow: hidden;">&nbsp;</div>
    </div>





    <table id="BaseInfo" width="100%" class="edit">
    <tr>
        <td>
        <table class="edit" style="margin-top: -15px;">
            <tr>
            <td colspan="4">
                <div class="title1">
                <div>&nbsp;</div>学员基本资料</div>
                <input type="hidden" name="hfEditMemberGuid" id="hfEditMemberGuid" /></td>
            </tr>
            <tr>
            <td class="textAlignRight" style="width: 80px;">学员姓名：</td>
            <td class="borderRight" style="width: 270px;">
                <input name="txtRealName" type="text" id="txtRealName" class="int" />
                <span class="words">*</span>
                <span class="words" id="spanResult"></span>
            </td>
            <td class="textAlignRight" style="width: 97px;">学员昵称：</td>
            <td class="">
                <input name="txtNickName" type="text" id="txtNickName" class="int" style="width: 259px;" /></td>
            </tr>
            <tr>
            <td class="textAlignRight">学员生日：</td>
            <td class="borderRight">
                <input name="txtBirthDate" type="text" id="txtBirthDate" class="int" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'1900-01-01'})" /></td>
            <td class="textAlignRight">学员性别：</td>
            <td class="">
                <select name="ddlSex" id="ddlSex" class="int" style="width: 262px;">
                <option value="">请选择</option>
                <option value="男">男</option>
                <option value="女">女</option></select>
            </td>
            </tr>
            <tr>
            <td class="textAlignRight">手机号码：</td>
            <td class="borderRight">
                <span style="position:absolute;width:50px;">
                <select name="ddlMobileLocal" id="ddlMobileLocal">
                    <option value="大陆">大陆</option>
                    <option value="香港">香港</option>
                    <option value="澳门">澳门</option>
                    <option value="台湾">台湾</option></select>
                </span>
                <input name="txtMobile" type="text" id="txtMobile" class="int" style="padding-left:54px;width:86px;" />
                <span class="words" id="spanMobile" style="position:absolute"></span>
            </td>
            <td class="textAlignRight">家长姓名：</td>
            <td class="">
                <input name="txtGname" type="text" id="txtGname" class="int" style="width:100px;" />/ 家长关系
                <select name="ddlGuardian" id="ddlGuardian" class="int" style="width: 100px;">
                <option value="0">请选择</option>
                <option value="12">爸爸</option>
                <option value="13">妈妈</option>
                <option value="14">爷爷</option>
                <option value="15">奶奶</option>
                <option value="16">外公</option>
                <option value="17">外婆</option>
                <option value="18">保姆</option>
                <option value="19">其他</option></select>
            </td>
            </tr>
            <tr>
            <td class="textAlignRight">备用号码：</td>
            <td class="borderRight">
                <input name="txtMobile1" type="text" id="txtMobile1" class="int" /></td>
            <td class="textAlignRight">QQ：</td>
            <td class="">
                <input name="txtQQ" type="text" id="txtQQ" class="int" style="width: 259px;" /></td>
            </tr>
            <tr>
            <td class="textAlignRight">固定电话：</td>
            <td class="borderRight">
                <input name="txtPhone" type="text" id="txtPhone" class="int" onchange="return CheckPhone('txtPhone','spanPhone');" />
                <span class="words" id="spanPhone"></span>
            </td>
            <td class="textAlignRight">Email：</td>
            <td class="">
                <input name="txtEmail" type="text" id="txtEmail" class="int" onchange="return CheckEMail('txtEmail','spanEMail');" style="width: 259px;" />
                <span class="words" id="spanEMail"></span>
            </td>
            </tr>
            <tr>
            <td class="textAlignRight">微信昵称：</td>
            <td class="borderRight">
                <input name="txtWXUserName" type="text" id="txtWXUserName" class="int" />
                <span style="display:none">
                <input id="btnWXCheck" type="button" class="button" value="认 证" />
                <br />
                <span id='span_WX'></span>
                <input type="hidden" name="hfWXOpenID" id="hfWXOpenID" />
                <input type="hidden" name="hfOldWXOpenID" id="hfOldWXOpenID" /></span>
            </td>
            <td class="textAlignRight">所属地区：</td>
            <td class="">
                <select name="ddlFirstArea" id="ddlFirstArea" class="int" style="width: 130px;">
                <option value="00000000-0000-0000-0000-000000000000">请选择</option>
                <option value="1f65c2a9-70e2-44cc-8126-084198800a59">锦溪镇</option>
                <option value="8ce88c13-efa3-44ee-82b1-0fc012523b3f">淀山湖镇</option>
                <option value="d2afe3bf-549c-4264-9959-14a91d8eb2cd">陆家镇</option>
                <option value="cda84d69-fe51-42be-9836-3206f4723999">高新区（玉山镇）</option>
                <option value="d8ab9097-d7ed-46fb-9911-3fac78174854">巴城镇</option>
                <option value="9bccea36-5990-413b-8da4-44ba68c8df5a">周庄镇</option>
                <option value="f6785d16-3acb-4d6a-adf3-7241edc89f17">张浦镇</option>
                <option value="f3690f00-bef5-4d33-8d39-7af54829e353">周市镇</option>
                <option value="47643fd9-0176-427d-82d0-870ac6eaf6b6">花飘万家雪</option>
                <option value="9a445734-ec93-419a-9fdd-92beb05ef87f">昆山开发区</option>
                <option value="5ce014bd-1529-4a51-9b1f-9941856e7158">哈哈哈哈</option>
                <option value="ebe844e6-0153-462a-973f-ea6e6558fe0c">花桥开发区（镇）</option>
                <option value="32f269a9-2c4b-4790-8a27-f4432afa8b48">千灯镇</option></select>
                <select name="ddlSecArea" id="ddlSecArea" class="int" name="ddlSecArea" style="width: 130px;">
                <option value="00000000-0000-0000-0000-000000000000">请选择</option></select>
            </td>
            </tr>
            <tr>
            <td class="textAlignRight">家庭住址：</td>
            <td class="" colspan="3">
                <input name="txtAddress" type="text" id="txtAddress" class="int" style="width: 632px;" /></td>
            </tr>
        </table>
        </td>
    </tr>


        
    <tr>
        <td class="borderBottom"></td>
    </tr>




    <tr>
        <td>
        <table class="edit" style="margin-top: -5px;">
            <tr>
            <td colspan="4">
                <div class="title1">
                <div>&nbsp;</div>学员高级资料</div></td>
            </tr>
            <tr>
            <td class="textAlignRight" style="width: 80px;">学员来源：</td>
            <td class="borderRight" style="width: 270px;">
                <select name="ddlSource" id="ddlSource" class="int" onchange="getMemberSource();" style="width: 142px;">
                <option value="00000000-0000-0000-0000-000000000000">请选择</option>
                <option value="aad60ffa-ed1f-4eeb-8749-c794059da411">微信营销jy</option>
                <option value="a9212d6f-10a8-4def-aedb-387d11d35a42">广告</option>
                <option value="9bc3d984-6a72-489c-b9d5-a4077734fdef">网络</option>
                <option value="dd559a4d-2d33-4d66-bf07-29ce40b3ef00">TMK</option>
                <option value="efa37249-ceac-4587-8ec1-f37a4bef3651">Walk in</option>
                <option value="edd0ac63-b7e5-45fb-9720-697170e7a88c">第三方微信公众号</option>
                <option value="5bfb5c76-03e9-47ec-9e94-ed1d61d67d5d">儿童妇女活动中心</option>
                <option value="e946796c-a7b6-4994-a76a-420d575c56f7">电梯广告</option>
                <option value="9ca883dd-618b-482e-a901-c6f85e8deb32">学校</option>
                <option value="87847fc5-37a6-472e-bfaf-9342aefbf502">内部推荐</option>
                <option value="ab9d3820-315e-477c-8256-2787e08eb421">aaabb</option>
                <option value="54da8774-6f0f-446b-a044-822ab12e7e48">其他</option>
                <option value="f065d13c-59dd-4dbb-8219-7986fba30bae">学员推荐（口碑）</option>
                <option value="d1718561-9794-41ea-8de1-c40531509615">转介绍</option></select>
                <select id="ddlSourceInfo" name="ddlSourceInfo" class="int" style="width:100px;display:none;">
                <option value="00000000-0000-0000-0000-000000000000">请选择</option></select>
            </td>
            <td class="textAlignRight" style="width: 97px;">市场人员：</td>
            <td class="">
                <select name="ddlMktStaff" id="ddlMktStaff" class="int" style="width: 262px;">
                <option value="00000000-0000-0000-0000-000000000000">请选择</option>
                <option selected="selected" value="66b1889f-40dc-4b78-81b7-1ddd3a8c0bbc">demo</option>
                <option value="bf408995-2f39-4f88-85c6-d912d0524f2a">admin</option></select>
            </td>
            </tr>
            <tr>
            <td class="textAlignRight">重要程度：</td>
            <td class="borderRight">
                <select name="ddlImportantLevel" id="ddlImportantLevel" class="int" style="width: 142px;">
                <option value="00000000-0000-0000-0000-000000000000">请选择</option>
                <option value="e51c315d-bd3e-4a92-993e-9af105531a46">重要</option>
                <option value="b8b86edf-0466-4249-8996-b357472af767">很重要</option>
                <option value="401e3b93-40de-4598-b9a8-b6bec6d4c8d8">極為重要</option>
                <option value="4b0352d2-93bb-481e-8e0a-f967daab2036">一般</option></select>
            </td>
            <td class="textAlignRight">学员状态：</td>
            <td class="">
                <select name="ddlState" id="ddlState" class="int" style="width: 262px;">
                <option value="-1">请选择</option>
                <option value="291">第三方</option>
                <option value="294">BPFC--已体验待联系学员</option>
                <option value="297">事实上</option>
                <option value="298">购买能力不强</option>
                <option value="299">3</option>
                <option value="300">双课包</option>
                <option value="301">111</option>
                <option value="303">312</option>
                <option value="304">我的测试参数</option>
                <option selected="selected" value="21">新客户</option>
                <option value="131">定金客户</option>
                <option value="133">号码无效客户</option>
                <option value="204">试听客户</option>
                <option value="203">试听无效客户</option>
                <option value="202">黑名单</option></select>
            </td>
            </tr>
            <tr>
            <td class="textAlignRight">意向课程：</td>
            <td class="borderRight">
                <input name="txtIntentionLesson" type="text" id="txtIntentionLesson" class="int" /></td>
            <td class="textAlignRight">意向时间：</td>
            <td class="">
                <input name="txtIntentionDate" type="text" id="txtIntentionDate" class="int" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" style="width: 259px;" /></td>
            </tr>
            <tr>
            <td class="textAlignRight">当前班级：</td>
            <td class="borderRight">
                <input name="txtNowLesson" type="text" readonly="readonly" id="txtNowLesson" class="int" />
                <input type="hidden" name="hfLessonGuid" id="hfLessonGuid" />
                <input type="hidden" name="hfLessonName" id="hfLessonName" />
                <div class="popUpLayer" style="display:none;">
                <table class="list" style="margin:0px;text-align:center;">
                    <thead>
                    <tr>
                        <th>课程系列</th>
                        <th>设置当前班级</th></tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>舞蹈</td>
                        <td>
                        <select id="nowLesson0" name="nowLesson0" class="nowLesson" style="width:280px;">
                            <option value="00000000-0000-0000-0000-000000000000"></option>
                            <option value="cc79efb8-4ff6-4db2-a182-18152f125275">马丽测试课程 [1岁1个月 - 1岁5个月]</option>
                            <option value="15d7633f-58b8-4e8c-b1a3-c5fef643b982">B1 [0岁0个月 - 1岁0个月]</option>
                            <option value="1206a681-f0c1-47f2-93f9-0f9c588e84cb">123321132321 [0岁1个月 - 0岁1个月]</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td>美术</td>
                        <td>
                        <select id="nowLesson1" name="nowLesson1" class="nowLesson" style="width:280px;">
                            <option value="00000000-0000-0000-0000-000000000000"></option>
                            <option value="0e2d9ba4-17b7-4fcd-99d9-25ce7a962754">B2 [1岁0个月 - 2岁0个月]</option>
                            <option value="9902aef5-4dfd-4d15-9f06-a5720ee39fba">玩美藝術 [1岁5个月 - 4岁2个月]</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td>B4</td>
                        <td>
                        <select id="nowLesson2" name="nowLesson2" class="nowLesson" style="width:280px;">
                            <option value="00000000-0000-0000-0000-000000000000"></option>
                            <option value="c5dff0ec-e018-4bdf-a02f-7fe6ef8a75b4">B4 [3岁0个月 - 4岁0个月]</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td>B5</td>
                        <td>
                        <select id="nowLesson3" name="nowLesson3" class="nowLesson" style="width:280px;">
                            <option value="00000000-0000-0000-0000-000000000000"></option>
                            <option value="2e1684aa-adf0-4813-8a3c-2908eb35c97e">B5 [4岁0个月 - 5岁0个月]</option></select>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </td>
            <td class="textAlignRight">首次接触：</td>
            <td class="">
                <select name="ddlConsulting" id="ddlConsulting" class="int" style="width: 262px;">
                <option value="00000000-0000-0000-0000-000000000000">请选择</option>
                <option value="66f663bf-a5fb-408c-b861-5421451a8778">来电</option>
                <option value="acbd015e-3a76-4c3f-b45d-cc5464874a2a">其他</option>
                <option value="04630206-cb77-4ed8-9be3-e9f4e3e5060d">活动</option>
                <option value="2c81577b-d297-45a2-b7cd-f41e03f64f6d">市场 - 机构*</option>
                <option value="8ff9ec8a-bb78-4fa5-9c6c-8505c404f857">来访</option>
                <option value="269752d4-5e59-454e-8f69-d06e34055c21">采集信息</option></select>
            </td>
            </tr>
            <tr>
            <td class="textAlignRight">录入日期：</td>
            <td class="borderRight">
                <input name="txtCreateTime" type="text" value="2018-06-24" id="txtCreateTime" class="int" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" /></td>
            <td class="textAlignRight">所属顾问：</td>
            <td class="">
                <span id="lbAdvisor" style="margin-left: 10px;">18616126092</span></td>
            </tr>
            <tr>
            <td class="textAlignRight">基本情况：</td>
            <td class="" colspan="3">
                <textarea name="txtBasicInfo" rows="2" cols="20" id="txtBasicInfo" class="int" style="height:75px;width: 632px;"></textarea>
            </td>
            </tr>
        </table>
        </td>
    </tr>




    <tr>
        <td class="borderBottom"></td>
    </tr>


    


    <tr>
        <td>
        <table class="edit" style="margin-top: -5px;">
            <tr>
            <td colspan="4">
                <div class="title1">
                <div>&nbsp;</div>学员其他资料</div></td>
            </tr>
            <tr>
            <td class="textAlignRight" style="width:80px;" require="true" ctrltype="text" ctrlname="udMemberUD14">父亲姓名：</td>
            <td class="borderRight" style="width:270px;">
                <input type="text" name="udMemberUD14" value="" class="int" />
                <span class="words">*</span></td>
            <td class="textAlignRight" style="width:97px;" require="true" ctrltype="text" ctrlname="udMemberUD15">父亲联系方式：</td>
            <td>
                <input type="text" name="udMemberUD15" value="" class="int" style="width:259px;" />
                <span class="words">*</span></td>
            </tr>
            <tr>
            <td class="textAlignRight" require="true" ctrltype="text" ctrlname="udMemberUD16">母亲姓名：</td>
            <td class="borderRight">
                <input type="text" name="udMemberUD16" value="" class="int" />
                <span class="words">*</span></td>
            <td class="textAlignRight" require="true" ctrltype="text" ctrlname="udMemberUD17">母亲联系方式：</td>
            <td>
                <input type="text" name="udMemberUD17" value="" class="int" style="width:259px;" />
                <span class="words">*</span></td>
            </tr>
        </table>
        </td>
    </tr>
    </table>





    <table id="Photos" width="100%" class="edit hidden">
    <tr>
        <td class="textAlignRight">
        <table>
            <tr>
            <td>
                <div style="height: 530px; overflow: hidden; width: 910px;margin-left:-18px;" id="flash">
                <div style="margin-left: -420px; margin-top: -280px;" id="flashObj">
                    <script type="text/javascript">document.write(AC_FL_RunContent('width', '1300', 'height', '830', 'scale', 'exactfit', 'src', 'http://zjdemo.etmcn.com/JS/camera/camera.swf?nt=1&inajax=1&appid=1&input=1bdf102f-463d-4166-a0cc-6b51269fb7a2&ucapi=http%3a%2f%2fzjdemo.etmcn.com/Ashx/PhotoUpload.ashx', 'id', 'mycamera', 'name', 'mycamera', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'menu', 'false', 'swLiveConnect', 'true', 'allowScriptAccess', 'always'));</script></div>
                </div>
            </td>
            <td valign="top">
                <div id="Images" style="width: 130px; padding-top: 12px;"></div>
                <input name="imageList" type="text" id="imageList" style="display: none;" />
                <input name="imageDelList" type="text" id="imageDelList" style="display: none;" /></td>
            </tr>
        </table>
        </td>
    </tr>
    </table>




    <table id="AssessInfo" width="100%" class="edit hidden">
    <tr>
        <td colspan="4">
        <div class="title1">
            <div>&nbsp;</div>收入情况：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td colspan="3">
        <span id="lb1">
            <input name="rule1" type="radio" value="51" />philo&nbsp;
            <input name="rule1" type="radio" value="53" />121&nbsp;
            <input name="rule1" type="radio" value="2" />月收入2万以上&nbsp;
            <input name="rule1" type="radio" value="5" />月收入1至2万&nbsp;
            <input name="rule1" type="radio" value="6" />月收入8千左右&nbsp;
            <input name="rule1" type="radio" value="7" />月收入3千到5千&nbsp;
            <input name="rule1" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="4">
        <div class="title1">
            <div>&nbsp;</div>住房情况：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td colspan="3">
        <span id="lb2">
            <input name="rule2" type="radio" value="42" />别墅&nbsp;
            <input name="rule2" type="radio" value="43" />豪华小区购房&nbsp;
            <input name="rule2" type="radio" value="45" />自建房&nbsp;
            <input name="rule2" type="radio" value="48" />普通小区购房&nbsp;
            <input name="rule2" type="radio" value="3" />租房&nbsp;
            <input name="rule2" type="radio" value="50" />jf&nbsp;
            <input name="rule2" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="4">
        <div class="title1">
            <div>&nbsp;</div>交通情况：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td colspan="3">
        <span id="lb3">
            <input name="rule3" type="radio" value="9" />司机代驾&nbsp;
            <input name="rule3" type="radio" value="10" />自驾&nbsp;
            <input name="rule3" type="radio" value="13" />步行&nbsp;
            <input name="rule3" type="radio" value="11" />出租&nbsp;
            <input name="rule3" type="radio" value="12" />公交&nbsp;
            <input name="rule3" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="4">
        <div class="title1">
            <div>&nbsp;</div>家庭距离：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td colspan="3">
        <span id="lb4">
            <input name="rule4" type="radio" value="49" />111&nbsp;
            <input name="rule4" type="radio" value="14" />0.5km内&nbsp;
            <input name="rule4" type="radio" value="15" />0.5km~2km&nbsp;
            <input name="rule4" type="radio" value="16" />2km~5km&nbsp;
            <input name="rule4" type="radio" value="17" />5km~10km&nbsp;
            <input name="rule4" type="radio" value="18" />10km以上&nbsp;
            <input name="rule4" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="2">
        <div class="title1">
            <div>&nbsp;</div>品牌认可度：</div></td>
        <td colspan="2">
        <div class="title1">
            <div>&nbsp;</div>品牌意识：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td class="borderRight" style="width: 350px;">
        <span id="lb6">
            <input name="rule6" type="radio" value="24" />知道多家早教品牌及理念&nbsp;
            <br />
            <input name="rule6" type="radio" value="25" />了解本品牌及理念&nbsp;
            <br />
            <input name="rule6" type="radio" value="26" />听说过本品牌，印象不错&nbsp;
            <br />
            <input name="rule6" type="radio" value="27" />不知道本品牌&nbsp;
            <br />
            <input name="rule6" type="radio" value="28" />不认可本品牌&nbsp;
            <br />
            <input name="rule6" type="radio" value="0" checked />不确定</span></td>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td>
        <span id="lb5">
            <input name="rule5" type="radio" value="19" />知道早教，熟悉各品牌&nbsp;
            <br />
            <input name="rule5" type="radio" value="20" />知道早教，有进行胎教&nbsp;
            <br />
            <input name="rule5" type="radio" value="21" />不清楚早教，给孩子找伴&nbsp;
            <br />
            <input name="rule5" type="radio" value="22" />觉得早教上不上都一样&nbsp;
            <br />
            <input name="rule5" type="radio" value="23" />抵触早教，认为没用&nbsp;
            <br />
            <input name="rule5" type="radio" value="0" checked />不确定</span></td>
    </tr>
    <tr>
        <td colspan="4" class="borderBottom">&nbsp;</td></tr>
    <tr>
        <td colspan="2">
        <div class="title1">
            <div>&nbsp;</div>家庭意见：</div></td>
        <td colspan="2">
        <div class="title1">
            <div>&nbsp;</div>报课意向：</div></td>
    </tr>
    <tr>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td class="borderRight">
        <span id="lb7">
            <input name="rule7" type="radio" value="29" />家庭都同意在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="30" />父母愿在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="31" />父、母一方希望在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="32" />家庭成员有人不赞成在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="33" />家庭都反对在本中心报课&nbsp;
            <br />
            <input name="rule7" type="radio" value="0" checked />不确定</span></td>
        <td class="textAlignRight" style="width:20px;">&nbsp;</td>
        <td>
        <span id="lb8">
            <input name="rule8" type="radio" value="34" />1周内&nbsp;
            <br />
            <input name="rule8" type="radio" value="35" />1个月内&nbsp;
            <br />
            <input name="rule8" type="radio" value="36" />2个月内&nbsp;
            <br />
            <input name="rule8" type="radio" value="37" />2个月以上&nbsp;
            <br />
            <input name="rule8" type="radio" value="38" />不打算&nbsp;
            <br />
            <input name="rule8" type="radio" value="0" checked />不确定</span></td>
    </tr>
    </table>


    <div class="borderBottom"></div>




    <input type="submit" name="btnSave" value="全部保存" onclick="return getValidator();" id="btnSave" class="button" style="position: fixed;top: 10px;right: 15px;width: 85px;" />


































    


      <script type="text/javascript">$(function() {
          $(".del").live("click",
          function() {
            var $this = $(this);
            var guid = $(this).attr("guid");
            var path = "/uploadfile/MemberImg/" + guid + "/";

            if ($.trim($("#imageDelList").val()) == "") {
              $("#imageDelList").val(guid);
            } else {
              $("#imageDelList").val($("#imageDelList").val() + "," + guid);
            }

            $this.parent().remove();
            if ($.trim($("#imageList").val()) != "") {
              if ($("#imageList").val().indexOf(",") == -1) {
                $("#imageList").val("");
              } else {
                var tmp = $.trim($("#imageList").val()).split(",");
                var newStr = "";
                for (var i = 0; i < tmp.length; i++) {
                  if (tmp[i].indexOf(guid) == -1) {
                    if (newStr == "") {
                      newStr = tmp[i];
                    } else {
                      newStr += "," + tmp[i];
                    }
                  }
                }
                $("#imageList").val(newStr);
              }
            }

            alert("照片删除成功！");
            return;

            //$.post("/Ashx/PhotoUpload.ashx", { "ImgGuid": guid }, function (result) {
            //    if (result != null && result == "1") {
            //        $this.parent().remove();
            //        if ($.trim($("#imageList").val()) != "") {
            //            if ($("#imageList").val().indexOf(",") == -1) {
            //                $("#imageList").val("");
            //            } else {
            //                var tmp = $.trim($("#imageList").val()).split(",");
            //                var newStr = "";
            //                for (var i = 0; i < tmp.length; i++) {
            //                    if (tmp[i].indexOf(guid) == -1) {
            //                        if (newStr == "") {
            //                            newStr = tmp[i];
            //                        } else {
            //                            newStr += tmp[i];
            //                        }
            //                    }
            //                }
            //                $("#imageList").val(newStr);
            //            }
            //        }
            //        alert("照片删除成功！");
            //    } else {
            //        alert("照片删除失败！");
            //    }
            //}, "text");
          });

          if ($.trim($("#imageList").val()) != "") {
            var tmp = $.trim($("#imageList").val()).split(",");
            for (var i = 0; i < tmp.length; i++) {
              var guidStr = tmp[i];
              if (guidStr.indexOf("/") != -1) {
                guidStr = guidStr.substring(0, guidStr.lastIndexOf("/"));
                guidStr = guidStr.substring(guidStr.lastIndexOf("/") + 1);
                //alert(guidStr);
                $("#Images").append("<div class='item'> <a target='_blank' href='" + tmp[i] + "'><img src='" + tmp[i].replace("large", "medium") + "'/></a><a href='javascript:void(0);' style=' font-size: 40px;' class='del' guid=" + guidStr + ">×</a></div>");
              }
            }
          }
        });

        var userAgent = navigator.userAgent.toLowerCase();
        var is_ie = (userAgent.indexOf('msie') != -1 && !is_opera) && userAgent.substr(userAgent.indexOf('msie') + 5, 3);

        var guidStr = "1bdf102f-463d-4166-a0cc-6b51269fb7a2";
        function updateavatar() {
          var path = "/uploadfile/MemberImg/" + guidStr + "/";
          $("#Images").append("<div class='item'> <a target='_blank' href='" + path + "large.jpg'><img src='" + path + "medium.jpg'/></a><a href='javascript:void(0);' style=' font-size: 40px;' class='del' guid=" + guidStr + ">×</a></div>");

          var newguidStr = newGuid();
          var html = AC_FL_RunContent('width', '1300', 'height', '830', 'scale', 'exactfit', 'src', 'http://zjdemo.etmcn.com/JS/camera/camera.swf?nt=1&inajax=1&appid=1&input=1bdf102f-463d-4166-a0cc-6b51269fb7a2&ucapi=http%3a%2f%2fzjdemo.etmcn.com/Ashx/PhotoUpload.ashx'.replace("1bdf102f-463d-4166-a0cc-6b51269fb7a2", newguidStr), 'id', 'mycamera', 'name', 'mycamera', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'menu', 'false', 'swLiveConnect', 'true', 'allowScriptAccess', 'always');
          $("#flashObj").html(html);

          guidStr = newguidStr;
          if ($.trim($("#imageList").val()) == "") {
            $("#imageList").val(path + "large.jpg");
          } else {
            $("#imageList").val($("#imageList").val() + "," + path + "large.jpg");

          }
          $("#photo").eq(0).focus();
        }
        //updateavatar();
        function getValidator() {
          var flag = true;
          var udfFlag = false;
          if (!CheckEmpty('txtRealName', 'spanResult') || !CheckMobileByLocation('txtMobile', 'spanMobile', $("#ddlMobileLocal").val()) || !CheckPhone('txtPhone', 'spanPhone') || !CheckEMail('txtEmail', 'spanEMail') || !checkStatus()) {
            flag = false;
          }
          $("td[require='true']").each(function() {
            udfFlag = false;
            var ctrltype = $(this).attr("ctrltype");
            var ctrlname = $(this).attr("ctrlname");

            if (ctrltype == "checkbox" || ctrltype == "radio") {
              $("input[name='" + ctrlname + "']").each(function() {
                if ($(this).attr("checked") == "checked") {
                  udfFlag = true;
                }
              });
            } else if (ctrltype == "select") {
              if ($("select[name='" + ctrlname + "']").eq(0).val() != "") {
                udfFlag = true;
              }
            } else if (ctrltype == "text") {
              if ($("input[name='" + ctrlname + "']").eq(0).val() != "") {
                udfFlag = true;
              }
            }
            if (udfFlag == false) {
              flag = false;
              alert($(this).html().replace("：", "") + " 为必填项，请确认！");
              return false;
            }
          });
          //if (!checkWX())
          //{
          //    alert("微信绑定不通过，请输入正确的微信昵称或清空不绑定");
          //    flag = false;
          //}
          return flag;
        }
        function checkStatus() {
          if ($("#ddlState").val() == "-1") {
            alert('请选择学员状态');
            return false;
          } else return true;
        }
        function show() {
          //dialog("上传图片", "iframe:../upload.aspx?action=photo", "400px", "200px", "iframe");
          window.parent.showDialog("上传图片", "../upload.aspx?action=photo", "400px", "200px");
        }
        function finish(filepath) {
          document.getElementById('limg').innerHTML = "<span id=\"limg\"><a target=\"_blank\" href=\"../uploadfile/Photo/" + filepath + "\">查看</a></span>";
          BoxClose();
        }
        $(function() {
          $("#ddlFirstArea").change(function() {
            $.post("/Ashx/GetParamConfig.ashx", {
              "action": "dropdownlistbyparent",
              "parentguid": $("#ddlFirstArea").val()
            },
            function(result) {
              if (result != null && result != "") {
                $("#ddlSecArea").html(result);
              }
            },
            "text");
          });

          $("#txtNowLesson").bind("click",
          function(event) {
            var e = window.event || event;
            if (e.stopPropagation) {
              e.stopPropagation();
            } else {
              e.cancelBubble = true;
            }
            var top = $(this).offset().top + $(this).outerHeight() + $("#form1").scrollTop() + 1;
            var left = $(this).position().left + $(this).scrollLeft();
            $(".popUpLayer").css({
              "top": top + "px",
              "left": left + "px"
            }).show();
          });
          $(".popUpLayer").click(function(event) {
            var e = window.event || event;
            if (e.stopPropagation) {
              e.stopPropagation();
            } else {
              e.cancelBubble = true;
            }
          });
          $(".nowLesson").change(function() {
            var lessonNames = "",
            lessonGuids = "",
            selectItemText = "";
            var i = 0;
            $(".nowLesson").each(function() {
              if ($(this).val() != "00000000-0000-0000-0000-000000000000") {
                selectItemText = $(this).find("option:selected").text();
                i = selectItemText.indexOf("[");
                selectItemText = $.trim(selectItemText.substring(0, i));
                if (lessonNames == "") lessonNames += selectItemText;
                else lessonNames += "，" + selectItemText;
                if (lessonGuids == "") lessonGuids += $(this).val();
                else lessonGuids += "|" + $(this).val();
              }
            });
            $("#txtNowLesson").val(lessonNames);
            $("#hfLessonName").val(lessonNames);
            $("#hfLessonGuid").val(lessonGuids);
          });
          $(document).click(function(event) {
            $(".popUpLayer").hide();
          });
        });</script>








    </form>
  </body>

</html>