<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>opacity</title>
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/etm.css" type="text/css" rel="stylesheet" />
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/theme2/etm.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/layer.js"></script>
  </head>
  

  


<body>
    <form name="form1" method="post" action="UserEdit.aspx?navId=8e5f7ad0-28f0-488f-9b45-0b46d4a9fe57" id="form1">


    <div id="tab"></div>

    <div class="tabs" style="text-align: left;">
        <div class="tabsBottomBar">&nbsp;</div>
        <a href="<?php echo $HTTP_WEB_HOST ?>/opacity/exampleform/index" to="#BaseInfo" style="margin-left:10px;" class="currentTabSelected tabItem tabSelected">基本信息</a>|
        <a href="<?php echo $HTTP_WEB_HOST ?>/opacity/exampleform/photo" to="#Photos" class="tabItem">学员照片</a>|
        <a href="<?php echo $HTTP_WEB_HOST ?>/opacity/exampleform/assessinfo" to="#AssessInfo" class="tabItem">问卷调查</a>
        <div class="selectedbar" style="width: 68px; left: 10px; overflow: hidden;">&nbsp;</div>
    </div>



123




    <input type="submit" name="btnSave" value="全部保存" onclick="return getValidator();" id="btnSave" class="button" style="position: fixed;top: 10px;right: 15px;width: 85px;" />









































    </form>
  </body>

</html>