<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>opacity</title>
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/etm.css" type="text/css" rel="stylesheet" />
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/theme2/etm.css" type="text/css" rel="stylesheet" />
    <link href="<?php echo $HTTP_STATIC_URL?>/assets/css/opacity.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/jquery-3.3.1.min.js"></script>


    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/layer/layer.js?v=<?php echo $APP_STATIC_VERSION;?>"></script>
    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/laydate/laydate.js?v=<?php echo $APP_STATIC_VERSION;?>"></script>

    <script type="text/javascript" src="<?php echo $HTTP_STATIC_URL?>/assets/js/opacity.js"></script>
  </head>

<body style="cursor: default;">


    <div id="headDiv">


        <table class="search">
            <tbody>
                <tr>
                    <td class="search_left">
                        <input type="button" onclick="location.href='/opacity/operadmuser/add';" name="btnNew" value="添加新用户" id="btnNew" class="button" style="margin-left: 20px;">
                    </td>
                </tr>
            </tbody>
        </table>
        

        <!-- <form name="form1" method="post" action="SendUserMsg.aspx?navId=09ad0f5a-8f64-4cb7-937e-80151719307f" id="form1" style="overflow: hidden; height: 844px; outline: none;" tabindex="5000"> -->

        

        <style type="text/css">
            .floatSearch{ margin-top: 8px;margin-bottom: 8px;}
        </style>

        <div class="floatSearch">
        <table id="tableSearch" cellpadding="0" cellspacing="0">    
            <tbody id="tbodySearch">
                <tr>
                    <td style="text-align: left; padding-left: 20px;">
                        <div style="height: 25px;">
                            选择条件：

                <select name="MemberSearch1$ddlSearchParamName_0" id="MemberSearch1_ddlSearchParamName_0" class="ParamName" onchange="BindSearchType(this)" lasttr="true" style="width: 140px;">
                <option value="||00000000-0000-0000-0000-000000000000">请选择</option>
                <option value="string|RealName|f0326cb7-42b5-4f5f-9bf4-b9224040fe8a">学员姓名</option>
                <option value="string|NickName|7b044a29-1d6f-4838-b297-63e56c8085b3">学员昵称</option>
                <option value="int|ID|f8282e38-27c8-497f-9645-7261fa95b86a">学员编号</option>
                <option value="string|YBirthDate|45bcad63-7218-49bd-bdb7-f20db24d575c">年龄</option>
                <option value="datetime|BirthDate|64c4c9db-dcd9-4636-bd13-2d3c7cc8c60f">生日</option>
                <option value="string|BirthDate|3b1bc2fa-14a0-4b00-9665-a5b0e527162f">生日（月日）</option>
                <option value="int|DoStatus|35f407e1-1885-45ed-8b96-1d2e80ba9356">学员状态</option>
                <option value="string|Mobile|77bf9ffa-7388-4153-8b23-1f6181c3d5d7">手机号码</option>
                <option value="string|Mobile1|aae4305c-b6c4-4573-bf84-44c4d55d085e">备用号码</option>
                <option value="string|ManagerNames|3657d1b4-6a4c-4ec7-a2fe-b8fcede1bfed">顾问|老师</option>
                <option value="string|IntentionLesson|96ece09c-7b92-4050-bb60-7b42d132dbf8">意向课程</option>
                <option value="datetime|IntentionDate|dfffa45b-1ecc-4ec3-b65c-e380d1d1303c">意向时间</option>
                <option value="string|NowLessonNames|7cc7f5ef-5e6b-45e5-bb4f-89b11ba27427">当前班级</option>
                <option value="string|ImportantLevel|7af9369e-ba19-4a3a-8425-15ff59f44c38">重要程度</option>
                <option value="guid|SourceGuid|8f403eea-e37c-4b1a-9b33-7beba39802ad">学员来源</option>
                <option value="guid|AreaGuid|d976d0d5-0648-4d43-951d-60d646b98f6e">地区</option>
                <option value="datetime|CreateTime|d0b02efd-0e88-4c80-a5e1-bde50fc3a730">录入日期</option>
                <option value="string|ConsultingGuid|5c56da31-dbe6-43a7-bc45-fca52a0564f7">首次接触</option>
                <option value="string|MktStaffGuid|f29cd68e-5c61-4848-8f54-4b25a7ccb2f8">市场人员</option>
                <option value="datetime|SignDate|68dfaac3-fecd-4d62-b3ac-31e1125383d1">签约日期</option>
                <option value="string|Guardian|b2ccf71e-086d-44da-b326-ff900f306121">家长姓名</option>
                <option value="string|BatchTitle|19afa661-c133-416f-a9ac-a5c9b349c34d">导入批次</option>
                <option value="string|Marks|0ea19255-f43b-46cb-940b-ae7622593a5b">标签</option>
                <option value="string|Email|430ba1d0-3054-483c-9ecb-e2b9ddf035cf">Email</option>
                <option value="string|QQ|90409fc8-99b1-1031-a281-ce27594a651e">QQ</option>
                <option value="string|Phone|c4e33202-99b1-1031-a281-ce27594a651e">固定电话</option>
                <option value="string|BasicInfo|e7b0dd9e-99b0-1031-a281-ce27594a651e">基本情况</option>
                <option value="string|Address|78e86d39-8ba2-41b0-b2c5-8c2908406927">家庭住址</option>
                <option value="string|WXUserName|8166a3b3-c826-459d-a716-ebf59c65b484">微信昵称</option>
                <option value="string|MarketNodeGuid|ba19c0ce-b215-4a78-b61f-a5abef36d0eb">销售阶段</option>
                <option value="string|MemberUD14|MemberUD14">父亲姓名</option>
                <option value="string|MemberUD15|MemberUD15">父亲联系方式</option>
                <option value="string|MemberUD16|MemberUD16">母亲姓名</option>
                <option value="string|MemberUD17|MemberUD17">母亲联系方式</option>
        
            </select>
            &nbsp;
            <select name="MemberSearch1$ddlSearchType_0" id="MemberSearch1_ddlSearchType_0" class="int" onchange="showNullOrNotNull(this)">
            </select>
            &nbsp;
            <span id="span_ValueContent_0">
                <input name="MemberSearch1_Value" type="text" id="MemberSearch1_Value_0" class="int">
            </span>
            &nbsp;&nbsp;
            
                            <input type="button" class="button" id="btnMoreSearch" onclick="SaveSearchParam()" value="搜 索">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>








        <!-- etmlinksNormalBg -->
        <div id="linkContent">
            <div class="etmlinks etmlinksHoverBg ">快速筛选：
                <a class="etmlink" href="javascript:link(0);">全部</a>
                <span>|</span>
                <a href="javascript:link(3);">从未跟进过</a>
                <span>|</span>
                <a href="javascript:link(2);">已跟进过</a>
                <span>|</span>
                <a href="javascript:link(1);">今天已分配</a>
                <span>|</span>
                <a href="javascript:link(4);">从未分配过</a>
            </div>
        </div>



        


        <div id="loading-mask" class="hidden"></div>

    </div>



    <div id="bodyDiv">
        
        <div class="flexigrid" >
            <!-- <div class="nBtn" style="display: none;">
                <div>&nbsp;123123</div>
            </div> -->

            <!-- 隐藏菜单栏 -->
            <div class="nDiv" style="margin-bottom: -584px; display: none; top: 30px; overflow-y: hidden; outline: none;" tabindex="5001">
                <table cellpadding="0" cellspacing="0" style="width: 150px;">
                    <tbody>
                        <tr etmname="MobileCheckBox">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="0">
                            </td>
                            <td class="ndcol2">
                                <input type="checkbox" class="selectAll" disabled="">
                            </td>
                        </tr>
                        <tr etmname="ID">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="1">
                            </td>
                            <td class="ndcol2">编号</td>
                        </tr>
                        <tr etmname="GetRealNameLink">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="2">
                            </td>
                            <td class="ndcol2">学员姓名</td>
                        </tr>
                        <tr etmname="BirthDate">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="3">
                            </td>
                            <td class="ndcol2">生日</td>
                        </tr>
                        <tr etmname="Sex">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="4">
                            </td>
                            <td class="ndcol2">性别</td>
                        </tr>
                        <tr etmname="Age">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="5">
                            </td>
                            <td class="ndcol2">年龄</td>
                        </tr>
                        <tr etmname="Guardian">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="6">
                            </td>
                            <td class="ndcol2">家长姓名</td>
                        </tr>
                        <tr etmname="Mobile">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="7">
                            </td>
                            <td class="ndcol2">手机号码</td>
                        </tr>
                        <tr etmname="MemberStatus">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="8">
                            </td>
                            <td class="ndcol2">学员状态</td>
                        </tr>
                        <tr etmname="IntentionLesson">
                            <td class="ndcol1">
                                <input type="checkbox" checked="checked" class="togCol" value="9">
                            </td>
                            <td class="ndcol2">意向课程</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            
            
            


            <div class="hDiv">
                <div class="hDivBox">
                    <table cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th align="right" >
                                <div style="text-align: center; width: 100px;">操作</div>
                            </th>
                            <th align="Center"  class="">
                                <div style="text-align: center; width: 100px;">学员姓名</div>
                            </th>
                            <th align="Center"  class="">
                                <div style="text-align: center; width: 100px;">手机号码</div>
                            </th>
                            <th align="Center" class="">
                                <div style="text-align: center; width: 100px;">跟进方式</div>
                            </th>
                            <th align="left" >
                                <div style="text-align: center; width: 260px;">跟进内容</div>
                            </th>
                            <th align="Center" class="sorted">
                                <div class="sdesc" style="text-align: center; width: 120px;">跟进时间</div>
                            </th>
                            <th align="Center">
                                <div style="text-align: center; width: 120px;">预计下次跟进时间</div>
                            </th>
                            <th align="Center"  class="">
                                <div style="text-align: center; width: 100px;">跟进人</div>
                            </th>
                            <th align="Center" >
                                <div style="text-align: center; width: 100px;">状态</div>
                            </th>
                        </tr>
                    </thead>
                    </table>
                </div>

                <div id="btnShowOrHide" style="
                background-image: url('/opacity/images/more.png'); 
                background-repeat: no-repeat; 
                width: 24px; 
                height: 28px; 
                z-index: 999; 
                position: absolute; top: 3px; left: 1174px; 
                cursor: default;
                cursor:hand;
                "
                title="隐藏/显示列">&nbsp;</div>

            </div>


            
            


            <!-- <div id="cDrag" class="cDrag" style="top: 1px;">
                <div style="height: 613px; display: block; left: 39px;"></div>
                <div style="height: 613px; display: block; left: 151px;"></div>
                <div style="height: 613px; display: block; left: 263px;"></div>
                <div style="height: 613px; display: block; left: 375px;"></div>
                <div style="height: 613px; display: block; left: 437px;"></div>
                <div style="height: 613px; display: block; left: 549px;"></div>
                <div style="height: 613px; display: block; left: 661px;"></div>
                <div style="height: 613px; display: block; left: 773px;"></div>
                <div style="height: 613px; display: block; left: 885px;"></div>
                <div style="height: 613px; display: block; left: 1047px;"></div>
            </div> -->




            <div id="bDiv" class="bDiv" style="height: 484px; overflow: auto; outline: none;" tabindex="5002" >
                <table id="Test" style="width: auto;" cellpadding="0" cellspacing="0" border="0" >
                    <tbody>
                        <tr>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:30px; "><input type="checkbox" class="selectItem" name="selectItem" value="|亮贝||"></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">3295</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; "><a href="javascript:showUserInfo('4e478700-05f6-4cbf-b8d0-a379e5a37174')">亮贝</a><a href="#" onclick="parent.open('../K_User/UserDetail.aspx?memberGuid=4e478700-05f6-4cbf-b8d0-a379e5a37174');" title="点我在新窗口打开"><img src="../Images/msg.png" style="vertical-align: middle;"></a></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">&nbsp;</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:50px; ">&nbsp;</div>
                            </td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:100px; ">&nbsp;</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">&nbsp;</div>
                            </td>
                            <!-- <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">&nbsp;</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">签约会员</div>
                            </td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:150px; ">&nbsp;</div>
                            </td> -->
                        </tr>
                        <tr class="erow">
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:30px; "><input type="checkbox" class="selectItem" name="selectItem" value="18608163587|TOM||"></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">3294</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; "><a href="javascript:showUserInfo('9efdb737-0247-4cdc-98ab-551c5d7b1dcb')">TOM</a></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">&nbsp;</div></td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:50px; ">&nbsp;</div></td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:100px; ">&nbsp;</div></td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">&nbsp;</div></td>
                            <!-- <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">18608163587</div></td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">签约会员</div></td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:150px; ">&nbsp;</div>
                            </td> -->
                        </tr>
                            

                            
                        <tr>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:30px; "><input type="checkbox" class="selectItem" name="selectItem" value="17682304378|小杨||"></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">3293</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; "><a href="javascript:showUserInfo('7a95a4d0-ca66-4a43-aaef-2690bd635804')">小杨</a><a href="#" onclick="parent.open('../K_User/UserDetail.aspx?memberGuid=7a95a4d0-ca66-4a43-aaef-2690bd635804');" title="点我在新窗口打开"><img src="../Images/msg.png" style="vertical-align: middle;"></a></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">2013-07-01</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:50px; ">&nbsp;</div>
                            </td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:100px; ">4岁11个月</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">&nbsp;</div>
                            </td>
                            <!-- <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">17682304378</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">新客户</div>
                            </td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:150px; ">&nbsp;</div>
                            </td> -->
                        </tr>

                        <tr>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:30px; "><input type="checkbox" class="selectItem" name="selectItem" value="17682304378|小杨||"></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">3293</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; "><a href="javascript:showUserInfo('7a95a4d0-ca66-4a43-aaef-2690bd635804')">小杨</a><a href="#" onclick="parent.open('../K_User/UserDetail.aspx?memberGuid=7a95a4d0-ca66-4a43-aaef-2690bd635804');" title="点我在新窗口打开"><img src="../Images/msg.png" style="vertical-align: middle;"></a></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">2013-07-01</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:50px; ">&nbsp;</div>
                            </td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:100px; ">4岁11个月</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">&nbsp;</div>
                            </td>
                            <!-- <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">17682304378</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">新客户</div>
                            </td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:150px; ">&nbsp;</div>
                            </td> -->
                        </tr>

                        <tr>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:30px; "><input type="checkbox" class="selectItem" name="selectItem" value="17682304378|小杨||"></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">3293</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; "><a href="javascript:showUserInfo('7a95a4d0-ca66-4a43-aaef-2690bd635804')">小杨</a><a href="#" onclick="parent.open('../K_User/UserDetail.aspx?memberGuid=7a95a4d0-ca66-4a43-aaef-2690bd635804');" title="点我在新窗口打开"><img src="../Images/msg.png" style="vertical-align: middle;"></a></div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">2013-07-01</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:50px; ">&nbsp;</div>
                            </td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:100px; ">4岁11个月</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">&nbsp;</div>
                            </td>
                            <!-- <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">17682304378</div>
                            </td>
                            <td align="Center" style="" abbr="">
                                <div class="wordwrap" style="text-align:Center;width:100px; ">新客户</div>
                            </td>
                            <td align="left" style="" abbr="">
                                <div class="wordwrap" style="text-align:left;width:150px; ">&nbsp;</div>
                            </td> -->
                        </tr>

                        

                    
                
                    </tbody>




                </table>
                    
                <!-- <div class="iDiv" style="display: none;">123</div> -->
            </div>
                









            <div  class="flexigridTips">共查到 0 条数据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增加 / 扣减课时统计结果为 0</div>


            <div id="pDiv" class="pDiv">
                <div class="pDiv2">
                    <div class="pGroup fixselect"> 
                        显示 <span style="display: inline-block;width:60px;"></span> 
                        <select id="rp" name="rp">
                            <option value="20">20&nbsp;&nbsp;</option>
                            <option value="30" selected="selected">30&nbsp;&nbsp;</option>
                            <option value="50">50&nbsp;&nbsp;</option>
                            <option value="100">100&nbsp;&nbsp;</option>
                            <option value="200">200&nbsp;&nbsp;</option>
                        </select> 条/页 
                    </div> 

                    <div class="btnseparator"></div> 

                        <div class="pGroup"> 
                            <div class="pFirst pButton">首页</div>
                            <div class="pPrev pButton">上一页</div> 
                        </div> 
                        <div class="btnseparator"></div> 
                        <div class="pGroup">
                            <span class="pcontrol">第 <input type="text" class="int" style="width:50px;height:15px;" value="1"> 页 <span class="pGoto button">转&nbsp;到</span> 共 <span class="pageCount">61</span> 页 </span>
                        </div> 
                        <div class="btnseparator"></div> 

                        <div class="pGroup"> 
                            <div class="pNext pButton">下一页</div>
                            <div class="pLast pButton">末页</div> 
                        </div> 
                        <div class="btnseparator"></div> 
                        <div class="pGroup"> 
                            <div class="pReload button">刷&nbsp;新</div> 
                        </div> 
                        <div class="btnseparator"></div> 
                        <div class="pGroup"><span class="pPageStat">显示从 1 条数据到 30 条数据，共 1823 条数据</span></div>
                </div>
                <div style="clear:both"></div>
            </div>

            


            <div class="vGrip"><span>123</span></div>




        </div>
                




    </div>
        

    <div id="footDiv">

            

        <table class="search">
            <tbody>
                <tr>
                    <td class="textAlignRight" style="width:80px;">短信内容：
                    </td>
                    <td class="">
                        <textarea class="int" style="width:550px;height: 50px; " onkeyup="count();" name="txtContent" id="txtContent"></textarea>
                        <span id="msg" class="words" style="margin-left:10px;">0</span> &nbsp;&nbsp;
                        <span style="display:none"><input id="cbRecv" name="cbRecv" type="checkbox">接收回复</span>&nbsp;
                        <input type="button" class="button" id="btnSelectSend" value="选中发送">&nbsp;
                        <input type="button" class="button" id="btnAllSend" value="搜索结果发送">
                    </td>
                </tr>
                <tr>
                    <td class="textAlignRight">可用参数：</td>
                    <td>
                        [家长姓名]&nbsp;&nbsp;[学员姓名]&nbsp;&nbsp;[学员昵称]&nbsp;&nbsp;
                            <a href="javascript:void(0);" class="mouseTips">[?]</a>
                        <div class="tips" style="display:none;">
                            注：适当加上参数，可提高短信质量和避免被归类为垃圾短信的概率。
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="textAlignRight">发送结果：</td>
                    <td>
                    <span id="lbSendResult"></span>
                        <span id="lbFailMobile" class="words">123123</span>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>

    <!-- </form> -->

</body>


</html>

<script>

    

    var table = aku.table.render({elem : '#bodyDiv', 
        url : "/opacity/examplelist/list",
        curr : 1,
        cols : [
        {field : 'opt', title : '操作'},
        {field : 'name', title : '名字', sort : true},
        {field : 'title', title : '标题', width:200, columnPannel : {type : 'text'}},
        {field : 'age', title : '年龄', width:100, columnPannel : {type : 'text'}},
        {field : 'index', title : '编号', width:100, columnPannel : {type : 'between'}},
        {field : 'date', title : '日期', width:100, columnPannel : {type : 'between-date'}},
        {field : 'status', title : '状态', width:100, columnPannel : {type : 'status', options :[ 
            {title:'状态1', value:'status1'},
            {title:'状态2', value:'status2'},
            {title:'状态3', value:'status3'},
            {title:'状态4', value:'status4'},
            {title:'状态5', value:'status5'},
            {title:'状态6', value:'status6'},
            {title:'状态7', value:'status7'},
            {title:'状态8', value:'status8'},
            {title:'状态9', value:'status9'},
            {title:'状态10', value:'status10'},
        ] }},
        {field : 'custom', title : '自定义', width:100, columnPannel : {
            type : 'between-custom',
            width : 400,
            height: 61,
            getHtml : function(option) {

        var html = "<select class=\"int\" id=\"ddlStartYear\" name=\"ddlStartYear\" style=\"width: 94px;\">"+
                "<option value=\"-1\">请选择</option>"+
            "<option value=\"0\">0岁</option>"+
            "<option value=\"1\">1岁</option>"+
            "<option value=\"2\">2岁</option>"+
            "<option value=\"3\">3岁</option>"+
            "<option value=\"4\">4岁</option>"+
            "<option value=\"5\">5岁</option>"+
            "<option value=\"6\">6岁</option>"+
            "</select>" +  
        "<select class=\"int\" id=\"ddlStartMonth\" name=\"ddlStartMonth\" style=\"width: 94px;\">"+
                "<option value=\"-1\">请选择</option>"+
            "<option value=\"1\">1个月</option>"+
            "<option value=\"2\">2个月</option>"+
            "<option value=\"3\">3个月</option>"+
            "<option value=\"4\">4个月</option>"+
            "<option value=\"5\">5个月</option>"+
            "<option value=\"6\">6个月</option>"+
            "<option value=\"7\">7个月</option>"+
            "<option value=\"8\">8个月</option>"+
            "<option value=\"9\">9个月</option>"+
            "<option value=\"10\">10个月</option>"+
            "<option value=\"11\">11个月</option>"+
            "</select>"+
        "-"+
        "<select class=\"int\" id=\"ddlendYear\" name=\"ddlendYear\" style=\"width: 94px;\">"+
                "<option value=\"-1\">请选择</option>"+
            "<option value=\"0\">0岁</option>"+
            "<option value=\"1\">1岁</option>"+
            "<option value=\"2\">2岁</option>"+
            "<option value=\"3\">3岁</option>"+
            "<option value=\"4\">4岁</option>"+
            "<option value=\"5\">5岁</option>"+
            "<option value=\"6\">6岁</option>"+
            "</select>" +  
        "<select class=\"int\" id=\"ddlEndMonth\" name=\"ddlEndMonth\" style=\"width: 94px;\">"+
                "<option value=\"-1\">请选择</option>"+
            "<option value=\"1\">1个月</option>"+
            "<option value=\"2\">2个月</option>"+
            "<option value=\"3\">3个月</option>"+
            "<option value=\"4\">4个月</option>"+
            "<option value=\"5\">5个月</option>"+
            "<option value=\"6\">6个月</option>"+
            "<option value=\"7\">7个月</option>"+
            "<option value=\"8\">8个月</option>"+
            "<option value=\"9\">9个月</option>"+
            "<option value=\"10\">10个月</option>"+
            "<option value=\"11\">11个月</option>"+
            "</select>";

                return html;
            },
            btn : function() {
                var data = {a:'a', 'title':'adsfasdf'};

                console.log("btn");

                return data;
            }
            }},

    ]});

    

    table.loadList();


    // console.log(aku.table.Tables);



    // console.log($("#headDiv").outerHeight(true));
    // console.log($("#bodyDiv").outerHeight(true));
    // console.log($("#footDiv").outerHeight(true));

    // console.log($("#headDiv").outerHeight(true) + $("#bodyDiv").outerHeight(true) + $("#footDiv").outerHeight(true));

    // console.log($("#navDiv").outerWidth(true));

    // console.log($(".floatSearch").outerHeight(true));

    // console.log($(document.body).height());

    // console.log($("#asadfdf").length > 0 ? true : false);

    //console.log($("#bDiv").height());

    // $("#bDiv").on('resize', function() {
    //     console.log(this);
    // })


    // $(document).resize(function() {
    //     console.log("asdf");
    // })
    

    // jQuery resize
    
    
</script>
    









